<template>
<div>


                <div class="Polaris-Tabs__Wrapper navigation-bar">
                    <div class="Polaris-Tabs Polaris-Tabs__TabMeasurer">
<!--                        <li class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('tab0')">-->
<!--                            <button id="all-customers-1Measurer" role="tab" type="button" tabindex="-1"-->
<!--                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab&#45;&#45;selected' : selectedTabIndex=='tab0' }]"-->
<!--                                    aria-selected="true"><span-->
<!--                                class="Polaris-Tabs__Title">Dashboard</span></button>-->
<!--                        </li>-->
                        <li v-show="is_login_auth" class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('products-tab')">
                            <button id="all-customers-1Measurer" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='products-tab' }]"
                                    aria-selected="true"><span
                                class="Polaris-Tabs__Title">Products</span></button>
                        </li>
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('my-products-tab')">
                            <button id="all-customers-1Measurer" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='my-products-tab' }]"
                                    aria-selected="true"><span
                                class="Polaris-Tabs__Title">My Products</span></button>
                        </li>
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('collections-tab')">
                            <button id="accepts-marketing-1Measurer" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='collections-tab' }]" aria-selected="false"><span class="Polaris-Tabs__Title">Collections</span>
                            </button>
                        </li>
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('orders-tab')">
                            <button id="accepts-marketing-1Measurer" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='orders-tab' }]" aria-selected="false"><span class="Polaris-Tabs__Title">Orders</span>
                            </button>
                        </li>
                        <li  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('magento-credential-tab')">
                            <button id="accepts-marketing-1Measurer" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='magento-credential-tab' }]" aria-selected="false"><span class="Polaris-Tabs__Title">MyBeautySite Account</span>
                            </button>
                        </li>
                         <li  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('video-tab')">
                            <button id="accepts-marketing-1Measurer" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='video-tab' }]" aria-selected="false"><span class="Polaris-Tabs__Title">MyBeautySite Account</span>
                            </button>
                        </li>
                        <li v-if="is_login_auth" class="Polaris-Tabs__TabContainer res-more-tabs">

                            <button @click="MoreTabsToggle()" class="Polaris-Tabs__DisclosureActivator Polaris-Tabs__Tab" type="button" tabindex="0" aria-controls="Polarispopover4" aria-owns="Polarispopover4" aria-expanded="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text Polaris-Tabs__Title">More views </span><span class="Polaris-Button__Icon">
            <div class=""><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M13.098 8H6.902c-.751 0-1.172.754-.708 1.268L9.292 12.7c.36.399 1.055.399 1.416 0l3.098-3.433C14.27 8.754 13.849 8 13.098 8z"></path>
                </svg></span></div>
          </span></span></button>


                        </li>

                        <li v-if="!is_login_auth" class="Polaris-Tabs__TabContainer res-more-tabs" role="presentation"  @click="handleTabChange('magento-credential-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='magento-credential-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">MyBeautySite Account</span>
                            </button>
                        </li>
                          <li v-if="!is_login_auth" class="Polaris-Tabs__TabContainer res-more-tabs" role="presentation"  @click="handleTabChange('video-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='video-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Video</span>
                            </button>
                        </li>
                    </div>
                    <ul role="tablist" class="Polaris-Tabs">
<!--                        <li class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('tab0')">-->
<!--                            <button id="all-customers-1" role="tab" type="button" tabindex="0"-->
<!--                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab&#45;&#45;selected' : selectedTabIndex=='tab0' }]" aria-selected="true"-->
<!--                                    aria-controls="all-customers-content-1" aria-label="All customers"><span-->
<!--                                class="Polaris-Tabs__Title">Dashboard</span></button>-->
<!--                        </li>-->
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('products-tab')">
                            <button id="all-customers-1" role="tab" type="button" tabindex="0"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='products-tab' }]" aria-selected="true"
                                    aria-controls="all-customers-content-1" aria-label="All customers"><span
                                class="Polaris-Tabs__Title">Products</span></button>
                        </li>
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('my-products-tab')">
                            <button id="all-customers-1" role="tab" type="button" tabindex="0"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='my-products-tab' }]" aria-selected="true"
                                    aria-controls="all-customers-content-1" aria-label="All customers"><span
                                class="Polaris-Tabs__Title">My Products</span></button>
                        </li>
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('collections-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='collections-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Collections</span>
                            </button>
                        </li>
                        <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('orders-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='orders-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Orders</span>
                            </button>
                        </li>
                        <li  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('magento-credential-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='magento-credential-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">MyBeautySite Account</span>
                            </button>
                        </li>
                        <li  class="Polaris-Tabs__TabContainer res-less-tabs" role="presentation"  @click="handleTabChange('video-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='video-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Video</span>
                            </button>
                        </li>

                        <li v-if="is_login_auth"   class="Polaris-Tabs__TabContainer res-more-tabs"  role="presentation">

                                <button @click="MoreTabsToggle()" class="Polaris-Tabs__DisclosureActivator Polaris-Tabs__Tab " type="button" tabindex="0" aria-controls="Polarispopover4" aria-owns="Polarispopover4" aria-expanded="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text Polaris-Tabs__Title">More views</span><span class="Polaris-Button__Icon">
            <div class=""><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M13.098 8H6.902c-.751 0-1.172.754-.708 1.268L9.292 12.7c.36.399 1.055.399 1.416 0l3.098-3.433C14.27 8.754 13.849 8 13.098 8z"></path>
                </svg></span></div>
          </span></span></button>

                        </li>
                        <li v-if="!is_login_auth" class="Polaris-Tabs__TabContainer res-more-tabs" role="presentation"  @click="handleTabChange('magento-credential-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='magento-credential-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">MyBeautySite Account</span>
                            </button>
                        </li>
                          <li v-if="!is_login_auth" class="Polaris-Tabs__TabContainer res-more-tabs" role="presentation"  @click="handleTabChange('video-tab')">
                            <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                    v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='video-tab' }]" aria-selected="false"
                                    aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Video</span>
                            </button>
                        </li>

                    </ul>

                    <div v-if="showMoreTabs" class="res-more-tabs" id="PolarisPortalsContainer">
                        <div data-portal-id="popover-Polarisportal2">
                            <div id="more-tabs-section" class="Polaris-PositionedOverlay Polaris-Popover__PopoverOverlay Polaris-Popover__PopoverOverlay--open">
                                <div class="Polaris-Popover" data-polaris-overlay="true">
                                    <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                    <div p-color-scheme="light" style="color: var(--p-text);">
                                        <div class="Polaris-Popover__Wrapper">
                                            <div id="Polarispopover4" tabindex="-1" class="Polaris-Popover__Content" style="height: 230px;">
                                                <div class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                                    <div class="Polaris-ActionList">
                                                        <div class="Polaris-ActionList__Section--withoutTitle">
                                                            <ul id="more_tabs_menu" class="Polaris-ActionList__Actions" role="menu" tabindex="-1">
                                                                <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('my-products-tab')">
                                                                    <button id="all-customers-1" role="tab" type="button" tabindex="0"
                                                                            v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='my-products-tab' }]" aria-selected="true"
                                                                            aria-controls="all-customers-content-1" aria-label="All customers"><span
                                                                        class="Polaris-Tabs__Title">My Products</span></button>
                                                                </li>
                                                                <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('collections-tab')">
                                                                    <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                                                            v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='collections-tab' }]" aria-selected="false"
                                                                            aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Collections</span>
                                                                    </button>
                                                                </li>
                                                                <li v-show="is_login_auth"  class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('orders-tab')">
                                                                    <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                                                            v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='orders-tab' }]" aria-selected="false"
                                                                            aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Orders</span>
                                                                    </button>
                                                                </li>
                                                                <li  class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('magento-credential-tab')">
                                                                    <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                                                            v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='magento-credential-tab' }]" aria-selected="false"
                                                                            aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">MyBeautySite Account</span>
                                                                    </button>
                                                                </li>
                                                                <li  class="Polaris-Tabs__TabContainer" role="presentation"  @click="handleTabChange('video-tab')">
                                                                    <button id="accepts-marketing-1" role="tab" type="button" tabindex="-1"
                                                                            v-bind:class="['Polaris-Tabs__Tab', { 'Polaris-Tabs__Tab--selected' : selectedTabIndex=='video-tab' }]" aria-selected="false"
                                                                            aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Video</span>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
<div id="Polaris-Main">
            <div class="Dashboard-main-class">

                <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='tab0' }]" id="all-customers-fitted-content-2" role="tabpanel" aria-labelledby="all-customers-fitted-2" tabindex="-1">
                    <div class="Polaris-Card">
                    <div class="Polaris-Card__Section">

<!--                        <PLayout>-->
<!--                            <PLayoutSection oneThird="">-->
<!--                                <PCard title="Total Pick orders" sectioned="" :actions="[]">-->
<!--                                    <h1>{{total_pick_orders}}</h1>-->
<!--                                </PCard>-->
<!--                            </PLayoutSection>-->
<!--                            <PLayoutSection oneThird="">-->
<!--                                <PCard title="Total Pack orders" sectioned="" :actions="[]"><h1>{{total_pack_orders}}</h1></PCard>-->
<!--                            </PLayoutSection>-->
<!--                        </PLayout>-->

                    </div>
                </div>
                </div>
                <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='products-tab' }]" id="all-customers-fitted-content-2" role="tabpanel" aria-labelledby="all-customers-fitted-2" tabindex="-1">
                        <div class="pt-15">
                        <product-list v-if="selectedTabIndex=='products-tab'" :key="RefreshComponentKey"></product-list>
                        </div>

                </div>
                <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='my-products-tab' }]" id="all-customers-fitted-content-2" role="tabpanel" aria-labelledby="all-customers-fitted-2" tabindex="-1">
                    <div class="pt-15">
                    <my-product-list v-if="selectedTabIndex=='my-products-tab'" :key="RefreshComponentKey"></my-product-list>
                    </div>
                </div>
                <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='collections-tab' }]" id="accepts-marketing-fitted-Ccontent-2" role="tabpanel" aria-labelledby="accepts-marketing-fitted-2" tabindex="0">
                    <div class="pt-15">
                    <category-list v-if="selectedTabIndex=='collections-tab'" :key="RefreshComponentKey"></category-list>
                    </div>
                </div>
                <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='orders-tab' }]" id="accepts-marketing-fitted-Ccontent-2" role="tabpanel" aria-labelledby="accepts-marketing-fitted-2" tabindex="0">
                    <div class="pt-15">
                    <order-list v-if="selectedTabIndex=='orders-tab'" :key="RefreshComponentKey"></order-list>
                    </div>
                </div>
                <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='magento-credential-tab' }]" id="accepts-marketing-fitted-Ccontent-2" role="tabpanel" aria-labelledby="accepts-marketing-fitted-2" tabindex="0">

<!--                        <save-magento-credentials v-if="selectedTabIndex=='magento-credential-tab'" :key="RefreshComponentKey"></save-magento-credentials>-->

                        <div v-if="selectedTabIndex=='magento-credential-tab'" :key="RefreshComponentKey">

                            <div class="Polaris-Layout">
                                <div class="Polaris-Layout__Section">
                                    <div>
                                        <div class="Polaris-Page">
                                            <div class="Polaris-Page__Content">
                                                <div class="Polaris-Card">
                                                    <form id="connectMuxMailForm" @submit.prevent="submitCredentials">
                                                        <div class="Polaris-Card__Header">
                                                            <h2 class="Polaris-Heading">MyBeautySite Account</h2>
                                                        </div>
                                                        <div class="Polaris-Card__Section">
                                                            <div v-if="errors.length">
                                                                <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                                                    <div class="Polaris-Banner__ContentWrapper">
                                                                        <div class="Polaris-Banner__Heading" id="PolarisBanner30Heading">
                                                                            <p class="Polaris-Heading">Please correct the following error(s):</p>
                                                                        </div>
                                                                        <div id="myFieldIDError" class="Polaris-InlineError" v-for="error in errors" >
                                                                            <div class="Polaris-InlineError__Icon">
                                        <span class="Polaris-Icon">
                                        <span class="Polaris-VisuallyHidden">
                                        </span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                          <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
                                          </path>
                                        </svg>
                                        </span>
                                                                            </div>
                                                                            {{ error }}
                                                                        </div>
                                                                    </div>

                                                                    <div id="PolarisPortalsContainer"></div>
                                                                </div>
                                                                <br>
                                                            </div>
                                                            <div>
                                                                <div class="Polaris-FormLayout">
                                                                    <div class="Polaris-FormLayout__Item">
                                                                        <div class="">
                                                                            <div class="Polaris-Labelled__LabelWrapper">

                                                                                <div class="Polaris-Label">
                                                                                    <label id="PolarisTextField19Label" for="PolarisTextField19" class="Polaris-Label__Text">
                                                                                        Email
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="Polaris-Connected">
                                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                                    <div class="Polaris-TextField">
                                                                                        <input id="PolarisTextField19"
                                                                                               autocomplete="email"
                                                                                               name="email"
                                                                                               v-model="form.email"
                                                                                               class="Polaris-TextField__Input"
                                                                                               aria-labelledby="PolarisTextField19Label"
                                                                                               aria-invalid="false"
                                                                                               type="email"
                                                                                        >
                                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-FormLayout__Item">
                                                                        <div class="">
                                                                            <div class="Polaris-Labelled__LabelWrapper">
                                                                                <div class="Polaris-Label">
                                                                                    <label id="PolarisTextField20Label"  for="PolarisTextField20" class="Polaris-Label__Text">
                                                                                        Password
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="Polaris-Connected">
                                                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                                    <div class="Polaris-TextField">
                                                                                        <input id="PolarisTextField20"
                                                                                               name="password" v-model="form.password"                                       autocomplete="off"
                                                                                               class="Polaris-TextField__Input"
                                                                                               type="password"
                                                                                               aria-labelledby="PolarisTextField20Label"
                                                                                               aria-invalid="false"
                                                                                        >
                                                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="PolarisPortalsContainer"></div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Card__Footer">
                                                            <div class="Polaris-ButtonGroup">
                                                                <div class="Polaris-ButtonGroup__Item"><button class="Polaris-Button Polaris-Button--primary" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Connect</span></span></button></div>
                                                            </div>
                                                        </div>
                                                        <div v-if="!is_login_auth" class="Polaris-Card__Footer">
                                                        <p class="open_account_link"><a href="https://mybeautysite.com/" target="_blank">Open account </a></p>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="PolarisPortalsContainer"></div>
                                    </div>

                                    <div id="PolarisPortalsContainer"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                      <div v-bind:class="['Polaris-Tabs__Panel', { 'Polaris-Tabs__Panel--hidden' : selectedTabIndex!=='video-tab' }]" id="accepts-marketing-fitted-Ccontent-2" role="tabpanel" aria-labelledby="accepts-marketing-fitted-2" tabindex="0">
                    <div class="pt-15">                   
                      <vedio></vedio>
                    </div>
                </div>

        <div id="PolarisPortalsContainer">
            <div data-portal-id="popover-Polarisportal5"></div>
        </div>
    </div>
</div>



</div>
</template>

<script>

    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "../../helper";
    import instance from "../../axios";
    import ProductList from "./products/ProductList";
    import MyProductList from "./my-products/MyProductList";
    import OrderList from "./OrderList";
    import CategoryList from "./collections/CategoryList";
    import { BulletListLoader } from 'vue-content-loader';
    import CustomPaginate from "../shopify/CustomPaginate";
    import SaveMagentoCredentials from "./SaveMagentoCredentials";
    import vedio from "./video/index";

    export default {
        name: "Dashboard",
        props : ['title'],
        components: {
            ProductList,BulletListLoader,CustomPaginate,CategoryList,OrderList,MyProductList,SaveMagentoCredentials,vedio
        },
        mounted() {
           //console.log('Welcome Component mounted.');

           // this.getMissingOrder();

        },
        data() {
            return {
                selectedTabIndex: '',
                isActive:false,
                is_load : true,
                RefreshComponentKey: 0,
                is_login_auth : false,
                form : {
                    email : null,
                    password : null
                },
                errors : [],
                price : 100000,
                showMoreTabs:false
            }
        },
        methods: {
            handleTabChange(selectedTabIndex) {

                this.showMoreTabs = false;

                this.selectedTabIndex = selectedTabIndex;
               // this.$forceUpdate();
               // this.RefreshComponentKey++;
               //this.getCredentials();

                if(selectedTabIndex=="magento-credential-tab"){
                    this.getCredentialsTabData();
                }

            },
            async getProductsCount(){
                 //console.log("===ggetOrdersCount  methos call=====");
                this.is_load = true;
                helper.startLoading();
                let endPoint = '/products/count';
                instance.get(endPoint).then((res) => {
                    //  console.log("missing_order_data-res",res);

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        //  console.log('Errors:\n' + res.data.errors.join("\n"));

                    }

                    // Success
                    else if (res.data.success)  {
                        let totalCount = res.data.data;

                        this.total_pick_orders = (totalCount.total_pick_orders) ?  totalCount.total_pick_orders : 0;
                        this.total_pack_orders = (totalCount.total_pack_orders) ?  totalCount.total_pack_orders : 0;

                        // console.log("missing_order_data",this.missing_order_data);
                    }

                    // Unknown server error (catch all)
                    else {
                        // console.log('Could not retrieve custom orders due to server error. Please try again or contact support for help.');
                        return false;
                    }
                    helper.stopLoading();
                    this.is_load = false;

                });

                return true;
            },
            getCredentials() {

                this.is_login_auth = false;

                let self = this;
                // self.is_load = true;
                //console.log("magento-credentials::call");
                instance.get('/get-magento-credentials')
                    .then(function (res) {
                        //console.log("credentials res", res);
                        if (res.data.success)  {

                          //  console.log("credentials user", res.data.user.email);

                            if(res.data.user.email && res.data.user.password){
                                self.is_login_auth = true;
                                self.selectedTabIndex = "products-tab";
                            }
                            else{
                                self.selectedTabIndex = "magento-credential-tab";
                            }

                            if(res.data.user.email){
                                self.form.email =  res.data.user.email;

                               // console.log("self.form.email",self.form.email);
                            }
                            if(res.data.user.password){
                                self.form.password = res.data.user.password;
                            }

                        }
                        self.is_load = false;
                    })
                    .catch(function (error) {
                       console.log("credentials-error", error);
                    });
            },
            getCredentialsTabData() {

                let self = this;

                instance.get('/get-magento-credentials')
                    .then(function (res) {
                        //console.log("credentials res", res);
                        if (res.data.success)  {

                            //  console.log("credentials user", res.data.user.email);

                            if(res.data.user.email){
                                self.form.email =  res.data.user.email;
                                // console.log("self.form.email",self.form.email);
                            }
                            if(res.data.user.password){
                                self.form.password = res.data.user.password;
                            }
                        }
                        self.is_load = false;
                    })
                    .catch(function (error) {
                        console.log("credentials-error", error);
                    });
            },
            submitCredentials: function (e) {

                let self = this;

                this.errors = [];

                if (!this.form.email) {
                    this.errors.push('Email is Required.');
                }
                if (!this.form.password) {
                    this.errors.push('Password is Required.');
                }
                if (this.email && this.password) {
                   // console.log("Form is Valid");
                }
                e.preventDefault();

                if (this.form.email && this.form.password) {
                    helper.startLoading();

                    //console.log("Form-data", this.form);
                    let params = {
                        "email" : this.form.email,
                        "password" : this.form.password
                    };
                    instance.post('/save-magento-credentials',params)
                        .then(function (res) {
                          //  console.log("save-credentials-res1", res.data);
                            if (res.data.success==true)  {
                                self.is_login_auth = true;
                                self.selectedTabIndex = "products-tab";

                                setTimeout(() => { helper.successToast(res.data.message);  }, 1000);
                                //setTimeout(() => { this.$refs.modal.close(); }, 1000);

                            }else{
                                 self.selectedTabIndex = "magento-credential-tab";
                                // console.log("error",res.data);
                                 helper.errorToast(res.data.message);
                            }

                        })
                        .catch(function (error) {
                            console.log("save-credentials-error", error);
                        });
                    helper.stopLoading();
                }


               // this.getCredentials();
                return true;
            },

            MoreTabsToggle:function(){
                this.showMoreTabs = !this.showMoreTabs;
            },
        },
        created() {

            let tab = this.$route.params.tab;
            if(tab){
               // console.log("tab",tab);
                this.is_login_auth = true;
                this.selectedTabIndex = tab;
            }
            else{
                this.getCredentials();
            }

          //  console.log("created Method call in vue");
         // console.log("app-bride",window.shopify_app_bridge);

        //this.getProductsCount();

        }
    }
</script>
