
<!--<product-services></product-services>-->

<template>
    <div>
        <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" v-if="is_load">
        </bullet-list-loader>
        <div v-else>

          <div v-if="!not_found">

              <div>
                  <div class="Polaris-Page">
                      <div
                          class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
                          <div class="Polaris-Page-Header__Row">
                              <div class="Polaris-Page-Header__BreadcrumbWrapper">
                                  <nav role="navigation">
                                      <router-link class="Polaris-Breadcrumbs__Breadcrumb"  tag="a" :to="{name :'dashboard',params: { tab: 'orders-tab' }}"  data-polaris-unstyled="true">
                                          <span class="Polaris-Breadcrumbs__ContentWrapper">
                                             <span class="Polaris-Breadcrumbs__Icon">
                                              <span class="Polaris-Icon">
                                                  <span class="Polaris-VisuallyHidden"></span>
                                                  <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"  focusable="false"  aria-hidden="true">
                          <path
                              d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
                                              </svg>
                                              </span>
                                              </span>
                                              <span class="Polaris-VisuallyHidden">Orders</span>
                                          </span>
                                      </router-link>
                                  </nav>
                              </div>
                              <div class="Polaris-Page-Header__TitleWrapper">
                                  <div>
                                      <div class="Polaris-Header-Title__TitleAndSubtitleWrapper inline">
                                          <h1 class="Polaris-Header-Title">   <a target="_blank" class="Polaris-Link" :href="order_edit_url" rel="noopener noreferrer" data-polaris-unstyled="true"> {{order.name}} </a> </h1>
                                                                               </div>
                                      <p v-if="order_detail.financial_status=='partially_paid'" class="Polaris-Header-Title inline"><span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete Polaris-Badge--statusWarning"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> {{order_detail.financial_status}}</span></span>Partially Paid</span></p>
                                      <p  v-else-if="order_detail.financial_status=='paid'" class="Polaris-Header-Title inline"><span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> {{order_detail.financial_status}}</span></span>Paid</span></p>
                                      <p  v-else="order_detail.financial_status'" class="Polaris-Header-Title inline"><span class="Polaris-Badge Polaris-Badge--statusWarning"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> {{order_detail.financial_status}}</span></span>Paid</span></p>

                                      <div>
                                          <p v-if="order.fulfillment_status=='fulfilled'" class="Polaris-Header-Title">
                                              <span class="Polaris-Badge Polaris-Badge--progressComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> Complete</span></span>{{order.fulfillment_status}}</span></p>
                                          <p v-else class="Polaris-Header-Title"><span class="Polaris-Badge Polaris-Badge--statusWarning"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> Incomplete</span></span>{{order.fulfillment_status}}</span></p>

                                      </div>
                                      <div class="Polaris-TextContainer Polaris-TextContainer--spacingLoose mt-10">
                                          <p class="">{{order_date}} at {{order_time}} from Online Store
                                          </p>
                                      </div>
                                  </div>

                              </div>
                              <div class="Polaris-Page-Header__RightAlign">

                                  <div class="Polaris-ActionMenu">
                                      <div>
                                          <div class="Polaris-ActionMenu-RollupActions__RollupActivator">

                                              <button  v-if="is_assigned==0"  class="Polaris-Button Polaris-Button--primary" type="button" @click="openAssignOrderModel(order.id)"
                                              ><span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Assign order</span>
                        </span>
                                              </button>

                                              <button v-if="is_assigned==1" class="Polaris-Button Polaris-Button--outline Polaris-Button--monochrome" type="button" @click="findOrderTrackingInfo(order.id,order.order_number)"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Tracking info</span></span></button>


<!--                                              <button-->
<!--                                                  class="Polaris-Button Polaris-Button&#45;&#45;outline Polaris-Button&#45;&#45;iconOnly"-->
<!--                                                  aria-label="Actions" type="button" tabindex="0"-->
<!--                                                  aria-controls="Polarispopover22" aria-owns="Polarispopover22"-->
<!--                                                  aria-expanded="false"><span class="Polaris-Button__Content"><span-->
<!--                                                  class="Polaris-Button__Icon"><span class="Polaris-Icon"><span-->
<!--                                                  class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"-->
<!--                                                                                             class="Polaris-Icon__Svg"-->
<!--                                                                                             focusable="false"-->
<!--                                                                                             aria-hidden="true">-->
<!--                          <path-->
<!--                              d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"></path>-->
<!--                        </svg></span></span></span></button>-->

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="Polaris-Page__Content">

                          <div>
                              <div class="Polaris-Layout">

                                  <div class="Polaris-Layout__Section" v-if="line_items.length > 0">

                                      <div class="Polaris-Card">
                                          <div class="Polaris-Card__Header">

                                          <h2 v-if="order.fulfillment_status=='fulfilled'" class="Polaris-Heading">
                                              <span class="Polaris-Badge Polaris-Badge--progressComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> Complete</span>
                                            </span>{{order.fulfillment_status}}  ({{line_items.length}})  </span></h2>
                                          <h2 v-else class="Polaris-Heading">
                                            <span class="Polaris-Badge Polaris-Badge--statusWarning"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> Incomplete</span></span>{{order.fulfillment_status}}  ({{line_items.length}})  </span></h2>

                                              <!-- <h2 class="Polaris-Heading"> Line Items ({{line_items.length}}) </h2> -->
                                          </div>
                                              <div>
                                                  <div v-for="(item, index) in line_items" :key="index" class="Polaris-Card__Section">
                                                      <div class="Polaris-Card">
<!--                                                          <div class="Polaris-Card__Header">-->
<!--                                                              <h2 class="Polaris-Heading">Shipment 1234</h2>-->
<!--                                                          </div>-->
                                                          <div class="Polaris-Card__Section">
                                                              <div class="order-items-list">
                                                              <table class="w-100">
                                                                  <tbody>
                                                                  <tr data-v-82770cac="" class="Polaris-ResourceItem">
                                                                      <td data-v-82770cac="" colspan="8" class="li-image" >
                                                                          <div class="Polaris-ResourceItem__ItemWrapper">
                                                                              <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                                                                  <div class="Polaris-ResourceItem__Container" id="341">
                                                                                      <div class="Polaris-ResourceItem__Owned">
                                                                                          <div class="Polaris-ResourceItem__Media"><span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                                                      <img  :src="item.image!==null ? item.image : default_product_image"
                                                                                            :alt="item.name"
                                                                                            class="img-fluid">
                                                                                  </span></div>
                                                                                      </div>
                                                                                      <div class="Polaris-ResourceItem__Content">
                                                                                          <a target="_blank" class="Polaris-Link" :href="item.product_edit_url" rel="noopener noreferrer" data-polaris-unstyled="true">
                                                                                          <h3><span class="Polaris-TextStyle--variationStrong">
                                                                                              {{item.name ? item.name : item.title}}</span></h3></a>

                                                                                          <div>SKU: {{item.sku}}</div>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                          <!--                                                                  <div data-v-82770cac="" class="d-flex align-center">-->
                                                                          <!--                                                                      <img  :src="item.images!==null ? item.images.url : default_product_image"-->
                                                                          <!--                                                                            :alt="item.name"-->
                                                                          <!--                                                                            class="img-fluid">-->
                                                                          <!--                                                                  </div>-->
                                                                      </td>

                                                                      <td data-v-82770cac="" class="li-sku">
                                                                          <div data-v-82770cac="" class="d-flex align-center">
                                                                              <p data-v-82770cac="" class="mb-0"> {{vueNumberFormat(item.price, {prefix: currency, decimal: '.', thousand: ','})}} x {{parseInt(item.quantity)}}</p>
                                                                          </div>
                                                                     </td>
                                                                      <td data-v-82770cac=""  class="li-sku">
                                                                          <div data-v-82770cac="" class="d-flex align-center">
                                                                              <p data-v-82770cac="" class="mb-0">
                                                                                  {{vueNumberFormat(item.total_price, {prefix: currency, decimal: '.', thousand: ','})}}
                                                                              </p>
                                                                          </div>
                                                                      </td>

                                                                      <!--                                                              <td data-v-82770cac="" class="li-sku" colspan="4">-->
                                                                      <!--                                                                  <div data-v-82770cac="" class="d-flex align-center">-->
                                                                      <!--                                                                      <p data-v-82770cac="" class="mb-0">{{item.sku}} x {{parseInt(item.quantity)}}</p>-->
                                                                      <!--                                                                  </div>-->
                                                                      <!--                                                              </td>-->
                                                                      <!--                                                              <td data-v-82770cac="" class="li-name" colspan="4">-->
                                                                      <!--                                                                  <div data-v-82770cac="" class="d-flex align-center">-->
                                                                      <!--                                                                      <p data-v-82770cac="" class="mb-0">{{item.name}}</p>-->
                                                                      <!--                                                                  </div>-->
                                                                      <!--                                                              </td>-->

                                                                  </tr>

                                                                  </tbody>
                                                              </table>
                                                          </div>
                                                          <div class="Polaris-Card__Footer" v-if="order.fulfillment_status!=='fulfilled'">
                                                              <div class="Polaris-ButtonGroup">
                                                                  <div class="Polaris-ButtonGroup__Item"></div>
                                                                  <div class="Polaris-ButtonGroup__Item">
                                                                      <div  v-if="is_tracked==0 && item.is_app_product">
                                                                          <div class="d-flex align-center">
                                                                              <form ref="form" :action="loginauth_api_url"  target="_blank" method="post">
                                                                                  <input  name="product_url" :value="item.source_url"  type="hidden">
                                                                                  <input  name="username"  :value="email"   type="hidden">
                                                                                  <input  name="password" :value="password" type="hidden">
                                                                                  <button class="Polaris-Button Polaris-Button--primary" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Fulfill item</span></span></button>
                                                                              </form>
                                                                          </div>
                                                                      </div>
                                                                      <div colspan="4" v-if="!item.is_app_product">
                                                                          <div class="d-flex align-center">
                                                                              <button class="Polaris-Button Polaris-Button--primary" type="button">
                                                                        <span class="Polaris-Button__Content Polaris-Button--primary">
                                                                            <span class="Polaris-Button__Text Polaris-Button--primary">
                                                                                  <a class="dropdown-item Polaris-Button--primary" type="button" :href="item.edit_url" target="_blank"><i class="fas fa-edit mr-1"></i> Fulfill in Shopify</a>
                                                                            </span>
                                                                        </span>
                                                                              </button>

                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div id="PolarisPortalsContainer"></div>
                                                  </div>
                                          </div>
                                      </div>
                                      </div>

                                      <div class="Polaris-Card">
                                          <div class="Polaris-Card__Header">

                                              <h2 v-if="order_detail.financial_status=='partially_paid'" class="Polaris-Heading"><span class="Polaris-Badge Polaris-Badge--progressPartiallyComplete Polaris-Badge--statusWarning"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> {{order_detail.financial_status}}</span></span>Partially Paid</span></h2>
                                              <h2  v-else-if="order_detail.financial_status=='paid'" class="Polaris-Heading"><span class="Polaris-Badge Polaris-Badge--statusSuccess Polaris-Badge--progressComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> {{order_detail.financial_status}}</span></span>Paid</span></h2>
                                              <h2  v-else="order_detail.financial_status'" class="Polaris-Heading"><span class="Polaris-Badge Polaris-Badge--statusWarning"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> {{order_detail.financial_status}}</span></span>Paid</span></h2>

                                          </div>
                                          <div class="Polaris-Card__Section">
                                              <p>Original order • {{order_date}} </p>
                                          </div>
                                          <div class="Polaris-Card__Section">

                                                  <div class="Polaris-ResourceList__ResourceListWrapper">
                                                      <ul class="Polaris-ResourceList" aria-live="polite">
                                                          <li class="Polaris-ResourceItem__ListItem">
                                                              <div class="Polaris-ResourceItem__ItemWrapper">
                                                                  <div class="Polaris-ResourceItem" data-href="reports/orders"><a aria-label="View Sales for Orders" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay7" href="reports/orders" data-polaris-unstyled="true"></a>
                                                                      <div class="Polaris-ResourceItem__Container">
                                                                          <div class="Polaris-ResourceItem__Content">
                                                                              <div class="Polaris-Stack">
                                                                                  <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Subtotal</div>

                                                                                  <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">{{line_items.length}} items</div>

                                                                                  <div class="Polaris-Stack__Item">
                                                                                       <span v-if="order_detail.current_subtotal_price">    {{vueNumberFormat(order_detail.current_subtotal_price, {prefix: currency, decimal: '.', thousand: ','})}} </span>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </li>

                                                          <li v-if="shipping_lines" class="Polaris-ResourceItem__ListItem">
                                                              <div class="Polaris-ResourceItem__ItemWrapper">
                                                                  <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay8" href="reports/returns" data-polaris-unstyled="true"></a>
                                                                      <div class="Polaris-ResourceItem__Container">
                                                                          <div class="Polaris-ResourceItem__Content">
                                                                              <div class="Polaris-Stack">
                                                                                  <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Shipping</div>
                                                                                  <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">{{shipping_lines.code ? shipping_lines.code : ''}} </div>
                                                                                  <div class="Polaris-Stack__Item">

                                                                                  <span v-if="shipping_lines.discounted_price">
                                                                                      {{vueNumberFormat(shipping_lines.discounted_price, {prefix: currency, decimal: '.', thousand: ','})}} </span>

                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="Polaris-ResourceItem__ListItem">
                                                              <div class="Polaris-ResourceItem__ItemWrapper">
                                                                  <div class="Polaris-ResourceItem" data-href="reports/returns"><a aria-label="View Sales for Returns" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay8" href="reports/returns" data-polaris-unstyled="true"></a>
                                                                      <div class="Polaris-ResourceItem__Container">
                                                                          <div class="Polaris-ResourceItem__Content">
                                                                              <div class="Polaris-Stack">
                                                                                  <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"><b>Total</b></div>
                                                                                  <div class="Polaris-Stack__Item">
                                                                                    <b> <span v-if="order_detail.current_total_price">

                                               {{vueNumberFormat(order_detail.current_total_price, {prefix: currency, decimal: '.', thousand: ','})}}
                                             </span>
                                                                                      <span v-else-if="order_detail.total_price">


                                               {{vueNumberFormat(order_detail.total_price, {prefix: currency, decimal: '.', thousand: ','})}}


                                             </span>
                                                                                    </b>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>




                                          </div>

                                          <div class="Polaris-Card__Section">
                                              <div class="Polaris-ResourceList__ResourceListWrapper">
                                                  <ul class="Polaris-ResourceList" aria-live="polite">
                                                      <li class="Polaris-ResourceItem__ListItem">
                                                          <div class="Polaris-ResourceItem__ItemWrapper">
                                                              <div class="Polaris-ResourceItem" data-href="reports/orders"><a aria-label="View Sales for Orders" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay7" href="reports/orders" data-polaris-unstyled="true"></a>
                                                                  <div class="Polaris-ResourceItem__Container">
                                                                      <div class="Polaris-ResourceItem__Content">
                                                                          <div class="Polaris-Stack" style="color:rgba(145,106,0,1)">
                                                                              <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">Balance (customer owes you)</div>

                                                                              <div class="Polaris-Stack__Item">
                                                                              <p v-if="order_detail.total_outstanding">{{vueNumberFormat(order_detail.total_outstanding, {prefix: currency, decimal: '.', thousand: ','})}}</p>
                                                                              </div>


                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </li>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">

                                      <div class="Polaris-Card">
                                          <div class="Polaris-Card__Header">
                                              <h2 class="Polaris-Heading">Assign Order</h2>
                                          </div>
                                          <div class="Polaris-Card__Section">
                                              <p v-if="is_assigned==1">{{order.order_number}}</p>
                                              <p v-else>Order not assigned</p>
                                          </div>
                                      </div>

                                      <div class="Polaris-Card">
                                          <div class="Polaris-Card__Header">
                                              <h2 class="Polaris-Heading">Tracking information</h2>
                                          </div>
                                          <div class="">
                                              <div v-if="is_tracked==1 && is_assigned==1">
                                                  <!--START ::  Tracking info-->
                                                  <div v-for="(tracking_info, index) in tracking_info_data" :key="index" class="">
                                                    <div class="Polaris-Card">
                                                      <div class="Polaris-Card__Header">
                                                        <h2 class="Polaris-Heading">Tracking Item ({{index + 1}})</h2>
                                                      </div>
                                                      <div class="Polaris-Card__Section">

                                                        <p> <b>Track Number  : </b> {{tracking_info.track_number}} </p>

                                                        <p> <b>Order Id  : </b> {{tracking_info.track_order_id}} </p>

                                                        <p> <b>Title  : </b> {{tracking_info.title}} </p>

                                                        <p> <b>Carrier Code  : </b> {{tracking_info.carrier_code}} </p>

                                                       </div>
                                                   </div>
                                                 </div>

                                                  <!--END ::  racking info-->

                                              </div>
                                              <div v-else class="Polaris-Card__Section">
                                              <p>Order not tracked</p>
                                              </div>
                                          </div>
                                      </div>

                                          <div class="Polaris-Card">
                                              <div class="Polaris-Card__Header">
                                                  <h2 class="Polaris-Heading">Customer</h2>
                                              </div>

                                              <div v-if="customer" class="Polaris-Card__Section">
                                                  <a target="_blank" class="Polaris-Link" :href="customer_edit_url" rel="noopener noreferrer" data-polaris-unstyled="true">
                                                      <p class="mb-0">{{order.client_name!==null && order.client_name!=='' ? order.client_name : 'No customer' }}</p>  </a>

                                                  <p v-if="order_detail.customer && order_detail.customer.orders_count">
                                                  {{order_detail.customer.orders_count }} orders
                                                  </p>

                                                  <p v-else> No orders </p>

                                              </div>

                                              <div v-if="customer" class="Polaris-Card__Section">
                                                  <div class="Polaris-Card__SectionHeader">
                                                      <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                                                          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                              <h3 aria-label="Contact Information" class="Polaris-Subheading">Contact Information</h3>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <p>{{customer.email ? customer.email : 'No email'}}</p>
                                                  <p>{{customer.phone ? customer.phone : 'No phone number'}}</p>
                                              </div>

                                              <div class="Polaris-Card__Section">
                                                  <div class="Polaris-Card__SectionHeader">
                                                      <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                                                          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                              <h3 aria-label="Contact Information" class="Polaris-Subheading">SHIPPING ADDRESS
                                                              </h3>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div v-if="shipping_address">
                                                  <p>{{shipping_address.name ? shipping_address.name : ''}}</p>
                                                  <p>{{shipping_address.address1 ? shipping_address.address1 : ''}} {{shipping_address.address2 ? shipping_address.address2 : ''}}</p>
                                                  <p>{{shipping_address.city ? shipping_address.city : ''}}</p>
                                                  <p>{{shipping_address.province ? shipping_address.province : ''}} {{shipping_address.country ? shipping_address.country : ''}}</p>
                                                  <p>{{shipping_address.zip ? shipping_address.zip : ''}}</p>
                                                 </div>

                                                      <p v-else>No shipping address </p>

                                              </div>

                                              <div class="Polaris-Card__Section">
                                                  <div class="Polaris-Card__SectionHeader">
                                                      <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                                                          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                              <h3 aria-label="Contact Information" class="Polaris-Subheading">BILLING ADDRESS

                                                              </h3>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div v-if="billing_address">
                                                  <p>{{billing_address.name ? billing_address.name : ''}}</p>
                                                  <p>{{billing_address.address1 ? billing_address.address1 : ''}} {{billing_address.address2 ? billing_address.address2 : ''}}</p>
                                                  <p>{{billing_address.city ? billing_address.city : ''}}</p>
                                                  <p>{{billing_address.province ? billing_address.province : ''}} {{billing_address.country ? billing_address.country : ''}}</p>
                                                  <p>{{billing_address.zip ? billing_address.zip : ''}}</p>
                                                  </div>

                                                  <p v-else >No billing address </p>

                                              </div>

                                          </div>
                                          <div id="PolarisPortalsContainer"></div>
                                      </div>

                              </div>
                              <div id="PolarisPortalsContainer"></div>
                          </div>
                      </div>
                  </div>
                  <div id="PolarisPortalsContainer">
                      <div data-portal-id="popover-Polarisportal11"></div>
                  </div>
              </div>





              <!-- START ::  Assign Order Model ========================================================-->

              <div>

                  <div id="PolarisPortalsContainer"
                       v-if="open_assign_model">
                      <div data-portal-id="modal-Polarisportal4">
                          <div>
                              <div class="Polaris-Modal-Dialog__Container"
                                   data-polaris-layer="true"
                                   data-polaris-overlay="true">
                                  <div>
                                      <div role="dialog" aria-modal="false"
                                           aria-labelledby="Polarismodal-header4"
                                           tabindex="-1" class="Polaris-Modal-Dialog">
                                          <div class="Polaris-Modal-Dialog__Modal">
                                              <div class="Polaris-Modal-Header">
                                                  <div id="Polarismodal-header4"
                                                       class="Polaris-Modal-Header__Title">
                                                      <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
                                                          Assign Order</h2>
                                                  </div>
                                                  <button
                                                      class="Polaris-Modal-CloseButton"
                                                      @click="closeAssignOrderModel(order.id)"
                                                      aria-label="Close"><span
                                                      class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                      class="Polaris-VisuallyHidden"></span><svg
                                                      viewBox="0 0 20 20"
                                                      class="Polaris-Icon__Svg"
                                                      focusable="false"
                                                      aria-hidden="true">
<path
    d="m11.414 10 6.293-6.293a1 1 0 1 0-1.414-1.414L10 8.586 3.707 2.293a1 1 0 0 0-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 1 0 1.414 1.414L10 11.414l6.293 6.293A.998.998 0 0 0 18 17a.999.999 0 0 0-.293-.707L11.414 10z"></path>
</svg></span></button>
                                              </div>
                                              <div class="Polaris-Modal__BodyWrapper">
                                                  <div  class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                                                        data-polaris-scrollable="true">
                                                      <section class="Polaris-Modal-Section">
                                                          <div class="Polaris-Stack Polaris-Stack--vertical">
                                                              <div class="Polaris-Stack__Item">
                                                                  <div class="Polaris-TextContainer">

                                                                      <div v-if="errors.length">
                                                                          <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                                                              <div class="Polaris-Banner__ContentWrapper">
                                                                                  <div class="Polaris-Banner__Heading" id="PolarisBanner30Heading">
                                                                                      <p class="Polaris-Heading">Please correct the following error:</p>
                                                                                  </div>
                                                                                  <div id="myFieldIDError" class="Polaris-InlineError" v-for="error in errors" >
                                                                                      <div class="Polaris-InlineError__Icon">
<span class="Polaris-Icon">
<span class="Polaris-VisuallyHidden">
</span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
<path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
</path>
</svg>
</span>
                                                                                      </div>
                                                                                      {{ error }}
                                                                                  </div>
                                                                              </div>

                                                                              <div id="PolarisPortalsContainer"></div>
                                                                          </div>
                                                                      </div>


                                                                  </div>
                                                              </div>
                                                              <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                                  <div class="">
                                                                      <div class="Polaris-Labelled__LabelWrapper">
                                                                          <div class="Polaris-Label">
                                                                              <label
                                                                                  id="PolarisTextField2Label"
                                                                                  for="PolarisTextField2"
                                                                                  class="Polaris-Label__Text">Order
                                                                                  Number</label>
                                                                          </div>
                                                                      </div>
                                                                      <div class="Polaris-Connected">
                                                                          <div  class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                              <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                                  <input
                                                                                      v-model="assign_order_number"
                                                                                      id="PolarisTextField2"
                                                                                      autocomplete="off"
                                                                                      class="Polaris-TextField__Input"
                                                                                      aria-labelledby="PolarisTextField2Label"
                                                                                      aria-invalid="false"
                                                                                      type="number"
                                                                                      :readonly="item_match"
                                                                                      :disabled="item_match"
                                                                                  >
                                                                                  <div class="Polaris-TextField__Backdrop"></div>
                                                                              </div>
                                                                          </div>
                                                                          <!--                                                                                                            <div class="Polaris-Connected__Item"><button class="Polaris-Button Polaris-Button&#45;&#45;primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Submit</span></span></button></div>-->
                                                                      </div>
                                                                  </div>
                                                              </div>

                                                              <!--START ::  Items-->


                                                              <div v-if="items.length > 0" class="Polaris-Modal__BodyWrapper Polaris-Modal-Section">
                                                                  <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasTopShadow Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling" data-polaris-scrollable="true">


                                                                      <div v-show="!item_match">
                                                                          <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                                                              <div class="Polaris-Banner__ContentWrapper">
                                                                                  <div id="myFieldIDError" class="Polaris-InlineError">
                                                                                      <div class="Polaris-InlineError__Icon">
<span class="Polaris-Icon">
<span class="Polaris-VisuallyHidden">
</span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
<path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
</path>
</svg>
</span>
                                                                                      </div>
                                                                                      {{ item_error }}
                                                                                  </div>
                                                                              </div>

                                                                              <div id="PolarisPortalsContainer"></div>
                                                                          </div>
                                                                      </div>

<!--                                                                      <section  v-for="(item, i) in items" :key="i" class="Polaris-Modal-Section">-->
<!--                                                                          <div class="Polaris-TextContainer">-->
<!--                                                                              <p>#{{i+1}}  {{item.name}}  <span class="Polaris-Tag"><span title="Wholesale" class="Polaris-Tag__TagText"><b>Quantity : </b> {{item.qty}}</span></span> </p>-->
<!--                                                                          </div>-->
<!--                                                                      </section>-->

                                                                  </div>
                                                              </div>
                                                              <!--END ::  Items-->
                                                          </div>
                                                      </section>
                                                  </div>
                                              </div>
                                              <div class="Polaris-Modal-Footer">
                                                  <div class="Polaris-Modal-Footer__FooterContent">
                                                      <div class="Polaris-Stack Polaris-Stack--alignmentCenter">

                                                          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">

                                                              <h2 v-if="items.length > 0 && item_match==true" aria-label="Accounts" class="Polaris-Heading">Are you sure you want to assign this order number ?</h2>

                                                          </div>
                                                          <div v-if="items.length > 0 && item_match==true" class="Polaris-Stack__Item">
                                                              <div class="Polaris-ButtonGroup">
                                                                  <div class="Polaris-ButtonGroup__Item">
                                                                      <button  @click="closeAssignOrderModel(order.id)"
                                                                               class="Polaris-Button"
                                                                               type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">No</span>
                                                            </span>
                                                                      </button>
                                                                  </div>
                                                                  <div class="Polaris-ButtonGroup__Item">
                                                                      <button
                                                                          @click="ConfirmAssignOrderModel(order.id)"
                                                                          class="Polaris-Button Polaris-Button--primary"
                                                                          type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Yes</span>
                                                            </span>
                                                                      </button>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div v-else class="Polaris-Stack__Item">
                                                              <div class="Polaris-ButtonGroup">
                                                                  <div class="Polaris-ButtonGroup__Item">
                                                                      <button  @click="closeAssignOrderModel(order.id)"
                                                                               class="Polaris-Button"
                                                                               type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Cancel</span>
                                                            </span>
                                                                      </button>
                                                                  </div>
                                                                  <div class="Polaris-ButtonGroup__Item">
                                                                      <button
                                                                          @click="submitAssignOrderModel(order.id)"
                                                                          class="Polaris-Button Polaris-Button--primary"
                                                                          type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Submit</span>
                                                            </span>
                                                                      </button>
                                                                  </div>
                                                              </div>
                                                          </div>


                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="Polaris-Backdrop"></div>
                      </div>
                  </div>
              </div>



              <!-- END ::  Assign Order Model ========================================================-->



          </div>

          <div v-else>

              <div>
  <div class="Polaris-Page">
    <div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
      <div class="Polaris-Page-Header__Row">
        <div class="Polaris-Page-Header__BreadcrumbWrapper">

                     <nav role="navigation">
                                      <router-link class="Polaris-Breadcrumbs__Breadcrumb"  tag="a" :to="{name :'dashboard',params: { tab: 'orders-tab' }}"  data-polaris-unstyled="true">
                                          <span class="Polaris-Breadcrumbs__ContentWrapper">
                                             <span class="Polaris-Breadcrumbs__Icon">
                                              <span class="Polaris-Icon">
                                                  <span class="Polaris-VisuallyHidden"></span>
                                                  <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"  focusable="false"  aria-hidden="true">
                          <path
                              d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
                                              </svg>
                                              </span>
                                              </span>
                                              <span class="Polaris-VisuallyHidden">Orders</span>
                                          </span>
                                      </router-link>
                                  </nav>
        </div>

      </div>
    </div>
    <div class="Polaris-Page__Content Polaris-Page--divider">
       <div>
                  <div class="Polaris-Card">
                      <div class="Polaris-Card__Section">
                          <div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
                              <div class="Polaris-EmptyState__Section">
                                  <div class="Polaris-EmptyState__DetailsContainer">
                                      <div class="Polaris-EmptyState__Details">
                                          <div class="Polaris-TextContainer">
                                              <div class="Polaris-EmptyState__Content">
                                                  <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path></svg>
                                                  <h2 class="Polaris-Heading">Could not find order details.</h2>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="PolarisPortalsContainer"></div>
              </div>

    </div>
  </div>
  <div id="PolarisPortalsContainer"></div>
</div>



        </div>
     </div>

    </div>
</template>

<script>
    import BackArrow from "../shopify/BackArrow";
    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "../../helper";
    import instance from "../../axios";
    import OrderActions from "./OrderActions";
    import { BulletListLoader } from 'vue-content-loader';
    import VueNumberFormat from 'vue-number-format';

    export default {
        name: "OrderDetails",
        components: {
            OrderActions,BackArrow,BulletListLoader,VueNumberFormat
        },
        props: [],
        data(){
            return {
                order : [],
                not_found : false,
                order_detail : [],
                line_items : [],
                is_load: true,
                default_product_image:"/images/defaultProduct.png",
                email : null,
                password : null,
                is_tracked : 0,
                is_assigned : 0,
                tracking_info_data : [],
                open_assign_model : false,
                assign_order_number : null,
                items : [],
                item_error : '',
                item_match : false,
                customer : [],
                customer_edit_url:'',
                shop_url : '',
                shipping_address : {},
                billing_address : {},
                currency : null,
                shipping_lines: null,
                order_date : '',
                order_time : '',
                order_edit_url : '',
                loginauth_api_url : ''
           }
        },
        mounted() {
            //console.log('OrderDetails Component mounted.',this.id);
            this.getCredentials();
        },
        methods: {
            async getOrder(){
                this.is_load = true;
                helper.startLoading();

              //  console.log("===getOrder Details methos call=====");
                let  endpoint ='/orders/order-details/'+this.id;

                instance.get(endpoint).then((res) => {

                     console.log("order-details-res",res.data);

                    // Process errors, if any
                    if (!res.data.success)
                    {
                       this.not_found = true;
                       this.is_load = false;
                    }

                    // Success
                    else if (res.data.success)  {

                       this.not_found = false;

                        let orderData = res.data.data.order;
                        let orderDetailsData = res.data.data.order_detail;

                        this.order = orderData;
                        this.order_detail = orderDetailsData;
                        this.line_items = res.data.data.line_items;
                        this.tracking_info_data = res.data.data.tracking_data;
                        this.customer = orderDetailsData.customer;
                        this.shop_url = res.data.data.shop_url;
                        this.shipping_address = orderDetailsData.shipping_address;
                        this.billing_address = orderDetailsData.billing_address;
                        if(this.customer) {
                            this.customer_edit_url = this.shop_url + "/admin/customers/" + this.customer.id;
                        }
                        if(orderDetailsData.shipping_lines && orderDetailsData.shipping_lines.length > 0) {
                            this.shipping_lines = orderDetailsData.shipping_lines[0];

                           // console.log("shipping_lines",this.shipping_lines);

                        }

                        this.is_assigned = orderData.is_assigned;
                        this.is_tracked = orderData.is_tracked;

		                    this.order_edit_url =  this.shop_url + "/admin/orders/" + orderDetailsData.id;
                       // console.log("line_items details",this.line_items);

                        this.currency = res.data.currency;
                        this.order_date = res.data.data.order_date;
                        this.order_time = res.data.data.order_time;

                    }

                    // Unknown server error (catch all)
                    else {
                        //  console.log('Could not retrieve custom orders due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    helper.stopLoading();
                    this.is_load = false;

                });

                return true;
            },
            getCredentials() {
                let self = this;
                //console.log("magento-credentials::call");
                instance.get('/get-magento-credentials')
                    .then(function (res) {
                      //  console.log("credentials res", res);
                        if (res.data.success)  {

                           // console.log("credentials user", res.data.user.email);
                            self.loginauth_api_url = res.data.loginauth_api_url;
                            if(res.data.user.email){
                                self.email =  res.data.user.email;

                              //  console.log("self.form.email",self.email);
                            }
                            if(res.data.user.password){
                                self.password = res.data.user.password;
                               // console.log("self.form.password",self.password);
                            }

                        }
                    })
                    .catch(function (error) {
                        console.log("credentials-error", error);
                    });
            },
            openAssignOrderModel(model_id){
                this.assign_order_number = '';
                this.current_model = model_id;
                this.errors = [];
                this.items = [];
                this.item_error = '';
                this.open_assign_model = true;
                this.item_match = false;
            },
            closeAssignOrderModel(model_id){
               // console.log("close assign order model");
                this.open_assign_model = false;
                this.current_model = model_id;
                this.assign_order_number = '';
                this.errors = [];
                this.items = [];
                this.item_error = '';
                this.item_match = false;
            },
            submitAssignOrderModel(model_id){
                this.errors = [];

                if (!this.assign_order_number) {
                    this.errors.push('Order number is Required.');
                    this.items = [];
                    this.item_error = '';
                    this.item_match = false;
                }
                if (this.assign_order_number) {
                    helper.startLoading();

                    //console.log("Form-data", this.form);
                    let params = {
                        "db_order_id" : model_id,
                        "order_number" : this.assign_order_number
                    };

                    let self = this;

                    instance.post('/orders/assign-order-number',params)
                        .then(function (res) {
                           // console.log("assign-order-res", res);

                            self.items = res.data.data;

                            if (res.data.success)  {

                                self.item_match = true;

                                //  setTimeout(() => { helper.successToast(res.data.message);  }, 1000);
                                //setTimeout(() => { this.$refs.modal.close(); }, 1000);

                            }else{

                                self.item_match = false;
                                self.item_error = res.data.message;
                                if(!res.data.is_show_error) {
                                    helper.errorToast(res.data.message);
                                }

                            }

                        })
                        .catch(function (error) {
                            console.log("save-credentials-error", error);
                        });
                    helper.stopLoading();
                }

                this.current_model = model_id;

                return true;
            },
            ConfirmAssignOrderModel(model_id){
                this.errors = [];

                if (!this.assign_order_number) {
                    this.errors.push('Order number is Required.');
                }
                if (this.assign_order_number) {
                    helper.startLoading();

                    //console.log("Form-data", this.form);
                    let params = {
                        "db_order_id" : model_id,
                        "order_number" : this.assign_order_number
                    };

                    let self = this;
                    instance.post('/orders/assign-order-number/confirm',params)
                        .then(function (res) {
                           // console.log("assign-order-res", res);
                            if (res.data.success)  {

                                setTimeout(() => { helper.successToast(res.data.message);  }, 1000);
                                setTimeout(() => {
                                    self.closeAssignOrderModel(model_id);
                                    self.getOrder();
                                }, 1000);

                            }else{
                                helper.errorToast(res.data.message);
                            }

                        })
                        .catch(function (error) {
                            console.log("save-credentials-error", error);
                        });
                    helper.stopLoading();
                    this.getOrder();
                }

                this.current_model = model_id;


                return true;
            },
            findOrderTrackingInfo(order_id, order_number){

                let params = {
                    "db_order_id" : order_id,
                    "order_number" : order_number
                };

                helper.startLoading();
                let self = this;
                instance.post('/orders/find-tracking-info',params)
                    .then(function (res) {
                       // console.log("assign-track-res", res);
                        if (res.data.success) {

                            setTimeout(() => { helper.successToast(res.data.message);
                                 self.getOrder();
                            }, 1000);

                        }else{
                            helper.errorToast(res.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("save-credentials-error", error);
                    });
                helper.stopLoading();
               // this.getOrder();
                return true;

            },
        },
        created() {

            this.id = this.$route.params.id;
           // console.log("order-id",this.id);

            this.getOrder();

        }
    }
</script>

<style scoped>

</style>
