
<!--<product-services></product-services>-->

<template>
<div>



    <div class="Polaris-Card">
    <div class="order-list">

        <!------------- START :: Filter Sections ----------------------------------------------------------------------------->

        <div style="">
            <div class="">
                <div class="Polaris-ResourceList__ResourceListWrapper">
                    <div class="Polaris-ResourceList__FiltersWrapper">
                        <div class="Polaris-Filters">
                            <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
                                <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right  col-3">
                                    <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                                        <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                            <div>
                                                <div class="">
                                                    <div class="Polaris-Select">
                                                        <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                aria-invalid="false" v-model="filterByType"
                                                                @change="handleFiltersByType($event)">
                                                            <option value="">Fulfillment Status</option>
                                                            <option value="Unfulfilled">Unfulfilled </option>
                                                            <option value="fulfilled">Fulfilled </option>
                                                        </select>

                                                        <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                            class="Polaris-Select__SelectedOption">  {{SelectedTypeOption}}</span><span
                                                            class="Polaris-Select__Icon"><span
                                                            class="Polaris-Icon"><span
                                                            class="Polaris-VisuallyHidden"></span><svg
                                                            viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                            focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                        </div>
                                                        <div class="Polaris-Select__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-Filters-ConnectedFilterControl__RightContainer">

                                        <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                            <div>
                                                <button class="Polaris-Button Polaris-Button--fullWidth" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!----------- END :: Filter Sections ------------------------------------------------------------------------------->



        <table class="w-100">
            <thead>
            <tr v-if="order_data.length > 0 ">
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Order</span></h3>
                </th>
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Order date</span></h3>
                </th>
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Customer</span></h3>
                </th>
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Fulfillment status</span></h3>
                </th>
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Items</span></h3>
                </th>
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Assign Order</span></h3>
                </th>
                <th class="text-left">
                    <h3><span class="Polaris-TextStyle--variationStrong">Track Order</span></h3>
                </th>
            </tr>
            </thead>
            <tbody v-if="order_data.length > 0"
                   v-for="(order, index) in order_data" :key="index">
            <tr   class="Polaris-ResourceItem">
<!--                                        <router-link-->
<!--                                            :to="{name :'order-details', params: { id: order.id }}"-->
<!--                                            tag="td" class="">-->

                  <td>
                    <div class="d-flex align-center">

                        <router-link
                            :to="{name :'order-details', params: { id: order.id }}"
                            tag="td" class="">
                            <div class="d-flex align-center">
                                <a href="" class="mb-0 Polaris-Link">{{order.name}}</a>
                            </div>
                        </router-link>

<!--                        <a href="#" @click.prevent="getOrderDetails(order.id,index)"><p class="mb-0">{{order.name}}</p></a>-->
                    </div>
                  </td>
<!--                                        </router-link>-->
                <td>
                    <div class="d-flex align-center">
                        <p class="mb-0">{{order.created_at}}</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-center">
                        <p class="mb-0">{{order.client_name!==null && order.client_name!=='' ? order.client_name : 'No customer' }}</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-center">
                        <p v-if="order.fulfillment_status=='fulfilled'" class="mb-0"><span class="Polaris-Badge Polaris-Badge--progressComplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> Complete</span></span>{{order.fulfillment_status}}</span></p>
                        <p v-else class="mb-0"><span class="Polaris-Badge Polaris-Badge--progressIncomplete"><span class="Polaris-Badge__Pip"><span class="Polaris-VisuallyHidden"> Incomplete</span></span>{{order.fulfillment_status}}</span></p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-center">
                        <p class="mb-0"><span class="">{{order.line_items && order.line_items.length==1 ? '1 item' : order.line_items.length + ' items'}}</span></p>
                    </div>
                </td>
                <td v-if="order.is_assigned==0">
                    <div class="d-flex align-center">
                        <button class="Polaris-Button Polaris-Button--primary" type="button" @click="openAssignOrderModel(order.id)"
                        ><span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Assign order</span>
                        </span>
                        </button>


<!-- START ::  Assign Order Model ========================================================-->

<div>

    <div id="PolarisPortalsContainer" :key="index"
         v-if="open_assign_model && current_model==order.id">
        <div data-portal-id="modal-Polarisportal4">
            <div>
                <div class="Polaris-Modal-Dialog__Container"
                     data-polaris-layer="true"
                     data-polaris-overlay="true">
                    <div>
                        <div role="dialog" aria-modal="false"
                             aria-labelledby="Polarismodal-header4"
                             tabindex="-1" class="Polaris-Modal-Dialog">
                            <div class="Polaris-Modal-Dialog__Modal">
                                <div class="Polaris-Modal-Header">
                                    <div id="Polarismodal-header4"
                                         class="Polaris-Modal-Header__Title">
                                        <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
                                            Assign Order</h2>
                                    </div>
                                    <button
                                        class="Polaris-Modal-CloseButton"
                                        @click="closeAssignOrderModel(order.id)"
                                        aria-label="Close"><span
                                        class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                        class="Polaris-VisuallyHidden"></span><svg
                                        viewBox="0 0 20 20"
                                        class="Polaris-Icon__Svg"
                                        focusable="false"
                                        aria-hidden="true">
<path
d="m11.414 10 6.293-6.293a1 1 0 1 0-1.414-1.414L10 8.586 3.707 2.293a1 1 0 0 0-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 1 0 1.414 1.414L10 11.414l6.293 6.293A.998.998 0 0 0 18 17a.999.999 0 0 0-.293-.707L11.414 10z"></path>
</svg></span></button>
                                </div>
                                <div class="Polaris-Modal__BodyWrapper">
                                    <div  class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                                        data-polaris-scrollable="true">
                                        <section class="Polaris-Modal-Section">
                                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                                <div class="Polaris-Stack__Item">
                                                    <div class="Polaris-TextContainer">

                                                            <div v-if="errors.length">
                                                                <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                                                    <div class="Polaris-Banner__ContentWrapper">
                                                                        <div class="Polaris-Banner__Heading" id="PolarisBanner30Heading">
                                                        <p class="Polaris-Heading">Please correct the following error:</p>
                                                    </div>
                                                    <div id="myFieldIDError" class="Polaris-InlineError" v-for="error in errors" >
                                                        <div class="Polaris-InlineError__Icon">
<span class="Polaris-Icon">
<span class="Polaris-VisuallyHidden">
</span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
<path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
</path>
</svg>
</span>
                                                        </div>
                                                        {{ error }}
                                                    </div>
                                                </div>

                                                <div id="PolarisPortalsContainer"></div>
                                            </div>
                                    </div>


                                                    </div>
                                                </div>
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                                    <div class="">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label">
                                                                <label
                                                                    id="PolarisTextField2Label"
                                                                    for="PolarisTextField2"
                                                                    class="Polaris-Label__Text">Order
                                                                    Number</label>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Connected">
                                                            <div  class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                    <input
                                                                        v-model="assign_order_number"
                                                                        id="PolarisTextField2"
                                                                        autocomplete="off"
                                                                        class="Polaris-TextField__Input"
                                                                        aria-labelledby="PolarisTextField2Label"
                                                                        aria-invalid="false"
                                                                        type="number"
                                                                        :readonly="item_match"
                                                                        :disabled="item_match"
                                                                        >
                                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                            <!--                                                                                                            <div class="Polaris-Connected__Item"><button class="Polaris-Button Polaris-Button&#45;&#45;primary" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Submit</span></span></button></div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                        <!--START ::  Items-->

                                                <div v-if="items.length > 0" class="Polaris-Modal__BodyWrapper Polaris-Modal-Section">
                                                    <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasTopShadow Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling" data-polaris-scrollable="true">
                                                        <div v-show="!item_match">
                                                            <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                                                <div class="Polaris-Banner__ContentWrapper">
                                                                    <div id="myFieldIDError" class="Polaris-InlineError">
                                                                        <div class="Polaris-InlineError__Icon">
                                                                        <span class="Polaris-Icon">
                                                                        <span class="Polaris-VisuallyHidden">
                                                                        </span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
                                                                        </path>
                                                                        </svg>
                                                                        </span>
                                                                        </div>
                                                                        {{ item_error }}
                                                                    </div>
                                                                </div>

                                                                <div id="PolarisPortalsContainer"></div>
                                                            </div>
                                                        </div>

<!--                                                        <section  v-for="(item, i) in items" :key="i" class="Polaris-Modal-Section">-->
<!--                                                            <div class="Polaris-TextContainer">-->
<!--                                                                <p>#{{i+1}}  {{item.name}}  <span class="Polaris-Tag"><span title="Wholesale" class="Polaris-Tag__TagText"><b>Quantity : </b> {{item.qty}}</span></span> </p>-->
<!--                                                            </div>-->
<!--                                                        </section>-->

                                                    </div>
                                                </div>
                                        <!--END ::  Items-->
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="Polaris-Modal-Footer">
                                    <div class="Polaris-Modal-Footer__FooterContent">
                                        <div class="Polaris-Stack Polaris-Stack--alignmentCenter">

                                            <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">

                                                <h2 v-if="items.length > 0 && item_match==true" aria-label="Accounts" class="Polaris-Heading">Are you sure you want to assign this order number ?</h2>

                                            </div>
                                            <div v-if="items.length > 0 && item_match==true" class="Polaris-Stack__Item">
                                                <div class="Polaris-ButtonGroup">
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <button  @click="closeAssignOrderModel(order.id)"
                                                            class="Polaris-Button"
                                                            type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">No</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <button
                                                            @click="ConfirmAssignOrderModel(order.id)"
                                                            class="Polaris-Button Polaris-Button--primary"
                                                            type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Yes</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else class="Polaris-Stack__Item">
                                                <div class="Polaris-ButtonGroup">
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <button  @click="closeAssignOrderModel(order.id)"
                                                                 class="Polaris-Button"
                                                                 type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Cancel</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="Polaris-ButtonGroup__Item">
                                                        <button
                                                            @click="submitAssignOrderModel(order.id)"
                                                            class="Polaris-Button Polaris-Button--primary"
                                                            type="button">
                                                            <span class="Polaris-Button__Content">
                                                                <span class="Polaris-Button__Text">Submit</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Polaris-Backdrop"></div>
        </div>
    </div>
</div>



<!-- END ::  Assign Order Model ========================================================-->

                    </div>
                </td>
                <td v-if="order.is_assigned==1">
                    <div class="d-flex align-center">
                        <p class="mb-0">{{order.order_number}}</p>
                    </div>
                </td>
                <td v-if="order.is_assigned==1">
                    <div v-if="order.is_tracked==0">
                        <div style="color: #007b5c;"><button class="Polaris-Button Polaris-Button--outline Polaris-Button--monochrome" type="button" @click="findOrderTrackingInfo(order.id,order.order_number)"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Tracking info</span></span></button></div>
                    </div>

                    <div v-else class="d-flex align-center">
                        <div class="Polaris-Stack">
                            <div class="Polaris-Stack__Item">
<!--                                <span class="Polaris-Badge">Tracked.</span>-->
                                <div style="color: #007b5c;"><button class="Polaris-Button Polaris-Button--outline Polaris-Button--monochrome" type="button" @click="openViewTrackInfoModel(order.id,order.order_number)"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">View tracking info</span></span></button></div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>
        <div v-if="order_data.length > 0" class=" Polaris-Card__Section">
        <custom-paginate  data_key="order" :prev_page="prev_page" :next_page="next_page" ></custom-paginate>
       </div>
    </div>
    <div v-if="order_data.length <= 0">
        <div class="Polaris-Card">
        <div class=" Polaris-Card__Section">
        <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" v-if="is_load">
        </bullet-list-loader>
        <record-not-found not_found_message="Could not find any Order" v-else></record-not-found>
    </div>
    </div>
    </div>
    </div>



    <!-- START ::  Tracking info Model ========================================================-->

    <div>

        <div id="PolarisPortalsContainer"
             v-if="view_tracking_info_model && tracking_info_data">
            <div data-portal-id="modal-Polarisportal4">
                <div>
                    <div class="Polaris-Modal-Dialog__Container"
                         data-polaris-layer="true"
                         data-polaris-overlay="true">
                        <div>
                            <div role="dialog" aria-modal="false"
                                 aria-labelledby="Polarismodal-header4"
                                 tabindex="-1" class="Polaris-Modal-Dialog">
                                <div class="Polaris-Modal-Dialog__Modal">
                                    <div class="Polaris-Modal-Header">
                                        <div id="Polarismodal-header4"
                                             class="Polaris-Modal-Header__Title">
                                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
                                                Tracking  information</h2>
                                        </div>
                                        <button
                                            class="Polaris-Modal-CloseButton"
                                            @click="closeViewTrackInfoModel()"
                                            aria-label="Close"><span
                                            class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                            class="Polaris-VisuallyHidden"></span><svg
                                            viewBox="0 0 20 20"
                                            class="Polaris-Icon__Svg"
                                            focusable="false"
                                            aria-hidden="true">
<path
    d="m11.414 10 6.293-6.293a1 1 0 1 0-1.414-1.414L10 8.586 3.707 2.293a1 1 0 0 0-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 1 0 1.414 1.414L10 11.414l6.293 6.293A.998.998 0 0 0 18 17a.999.999 0 0 0-.293-.707L11.414 10z"></path>
</svg></span></button>
                                    </div>
                                    <div class="Polaris-Modal__BodyWrapper">
                                        <div  class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                                              data-polaris-scrollable="true">
                                            <section class="Polaris-Modal-Section">
                                                <div class="Polaris-Stack Polaris-Stack--vertical">
                                                    <div class="Polaris-Stack__Item">
                                                        <div class="Polaris-TextContainer">

                                                    <!--START ::  Tracking info-->
                                                    <div v-for="(tracking_info, index) in tracking_info_data" :key="index">

                                                       <div class="Polaris-Card">
                                                      <div class="Polaris-Card__Header">
                                                        <h2 class="Polaris-Heading">Tracking Item ({{index + 1}})</h2>
                                                      </div>
                                                      <div class="Polaris-Card__Section">

                                                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasTopShadow Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling" data-polaris-scrollable="true">

                                                           <section  class="Polaris-Modal-Section">
                                                                <div class="Polaris-TextContainer">
                                                                    <p> <b>Track Number  : </b> {{tracking_info.track_number}} </p>
                                                                </div>
                                                           </section>

                                                            <section  class="Polaris-Modal-Section">
                                                                <div class="Polaris-TextContainer">
                                                                    <p> <b>Order Id  : </b> {{tracking_info.track_order_id}} </p>
                                                                </div>
                                                            </section>

                                                            <section  class="Polaris-Modal-Section">
                                                                <div class="Polaris-TextContainer">
                                                                    <p> <b>Title  : </b> {{tracking_info.title}} </p>
                                                                </div>
                                                            </section>

                                                            <section  class="Polaris-Modal-Section">
                                                                <div class="Polaris-TextContainer">
                                                                    <p> <b>Carrier Code  : </b> {{tracking_info.carrier_code}} </p>
                                                                </div>
                                                            </section>

                                                        </div>
                                                    </div>
                                                     </div>
                                                 </div>
                                                    <!--END ::  racking info-->

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="Polaris-Modal-Footer">
                                        <div class="Polaris-Modal-Footer__FooterContent">
                                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                                <div class="Polaris-Stack__Item">
                                                    <div class="Polaris-ButtonGroup">
                                                        <div class="Polaris-ButtonGroup__Item"><button class="Polaris-Button" type="button" @click="closeViewTrackInfoModel()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Close</span></span></button></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Backdrop"></div>
            </div>
        </div>
    </div>


    <!-- END :: Tracking info Model ========================================================-->


</div>
</template>

<script>
    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "../../helper";
    import instance from "../../axios";
    import { BulletListLoader } from 'vue-content-loader';
    import CustomPaginate from "../shopify/CustomPaginate";
    import RecordNotFound from "./RecordNotFound";
    import OrderDetails from "./OrderDetails";
    export default {
        name: "OrderList",
        components: {
            BulletListLoader,CustomPaginate,RecordNotFound,OrderDetails
        },
        props: [],
        data(){
            return {
                errors : [],
                order_data : [],
                is_load : true,
                next_page: '',
                prev_page: '',
                next_page_missing_order: '',
                prev_page_missing_order: '',
                total_pick_orders : 0,
                total_pack_orders : 0,
                showEditOrder:-1,
                RefreshComponentKey: 0,
                open_assign_model : false,
                current_model : '',
                assign_order_number : null,
                items : [],
                item_error : '',
                item_match : false,
                filterByType : '',
                SelectedTypeOption : "Fulfillment Status",
                ClearFilterText : "No filters applied",
                ClearFilterStatus : true,
                tracking_info_data : [],
                view_tracking_info_model : false
            }
        },
        mounted() {
           // console.log('Order LIST Component mounted.');
           // console.log("order_data",this.orderData);
        },
        methods: {
            handleFiltersByType: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                  //  console.log('id ',id );
                  //  console.log('name ',name );

                    this.SelectedTypeOption = name;
                }


                this.getOrders(1);
            },
             getOrders(page){

                 let filterData = {
                     "filterByType" : this.filterByType
                 };

                 let params = {
                     "filterData" : filterData
                 };

                this.is_load = true;
                helper.startLoading();

                let endPoint = (typeof(page) == 'undefined' || page == 1) ? '/orders/get-orders' : page;

                instance.post(endPoint,params).then((res) => {
                   // console.log("res",res);
                    //console.log("res",res.data.data.orders);                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                       // console.log("Resposne order pageinate",res.data.data);
                        this.order_data = res.data.data.orders;
                       // console.log("ResDATA", this.order_data);
                        let pagination = res.data.data.pagination;
                        this.next_page = (pagination.nextPageUrl) ?  pagination.nextPageUrl : '';
                        this.prev_page = (pagination.previousPageUrl) ?  pagination.previousPageUrl : '';

                        // console.log("orders-data",this.order_data);

                    }

                    // Unknown server error (catch all)
                    else {

                        //  console.log('Could not retrieve custom orders due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    helper.stopLoading();
                    this.is_load = false;
                });

                return true;
            },
            getOrderDetails(order_id,index){

               // console.log("this.showEditOrder",this.showEditOrder );
               // console.log("order_id",order_id );
               // console.log("index",index );

                if (this.showEditOrder > -1) {
                    $('.collapse' + this.showEditOrder).collapse('hide');
                }

                $('.collapse' + index).collapse('toggle');

                this.$forceUpdate();
                this.RefreshComponentKey++;

                this.showEditOrder = index;
                return true;
            },

            openAssignOrderModel(model_id){
                  this.assign_order_number = '';
                  this.current_model = model_id;
                  this.errors = [];
                  this.items = [];
                  this.item_error = '';
                  this.open_assign_model = true;
                  this.item_match = false;
            },
            closeAssignOrderModel(model_id){
               //  console.log("close assign order model");
                this.open_assign_model = false;
                this.current_model = model_id;
                this.assign_order_number = '';
                this.errors = [];
                this.items = [];
                this.item_error = '';
                this.item_match = false;
            },
            submitAssignOrderModel(model_id){
                this.errors = [];

                if (!this.assign_order_number) {
                    this.errors.push('Order number is Required.');
                    this.items = [];
                    this.item_error = '';
                    this.item_match = false;
                }
                if (this.assign_order_number) {
                    helper.startLoading();

                  //  console.log("Form-data", this.form);
                    let params = {
                        "db_order_id" : model_id,
                        "order_number" : this.assign_order_number
                    };

                    let self = this;

                    instance.post('/orders/assign-order-number',params)
                        .then(function (res) {
                           // console.log("assign-order-res", res);

                               self.items = res.data.data;

                             if (res.data.success)  {

                                self.item_match = true;

                              //  setTimeout(() => { helper.successToast(res.data.message);  }, 1000);
                                //setTimeout(() => { this.$refs.modal.close(); }, 1000);

                            }else{

                                self.item_match = false;
                                self.item_error = res.data.message;
                                if(!res.data.is_show_error) {
                                    helper.errorToast(res.data.message);
                                }

                            }

                        })
                        .catch(function (error) {
                            console.log("save-credentials-error", error);
                        });
                    helper.stopLoading();
                }

                this.current_model = model_id;

                return true;
            },
            ConfirmAssignOrderModel(model_id){
                this.errors = [];

                if (!this.assign_order_number) {
                    this.errors.push('Order number is Required.');
                }
                if (this.assign_order_number) {
                    helper.startLoading();

                   // console.log("Form-data", this.form);
                    let params = {
                        "db_order_id" : model_id,
                        "order_number" : this.assign_order_number
                    };

                    let self = this;
                    instance.post('/orders/assign-order-number/confirm',params)
                        .then(function (res) {
                           // console.log("assign-order-res", res);
                            if (res.data.success)  {

                                setTimeout(() => { helper.successToast(res.data.message);  }, 1000);
                                setTimeout(() => {
                                    self.closeAssignOrderModel(model_id);
                                    }, 1000);

                            }else{
                                helper.errorToast(res.data.message);
                            }

                        })
                        .catch(function (error) {
                            console.log("save-credentials-error", error);
                        });
                    helper.stopLoading();
                    this.getOrders(1);
                }

                this.current_model = model_id;

                this.getOrders(1);
                return true;
            },
            findOrderTrackingInfo(order_id, order_number){

                let params = {
                    "db_order_id" : order_id,
                    "order_number" : order_number
                };

                helper.startLoading();
                let self = this;
                instance.post('/orders/find-tracking-info',params)
                    .then(function (res) {
                        //console.log("assign-track-res", res);
                        if (res.data.success) {

                            setTimeout(() => { helper.successToast(res.data.message); self.getOrders(1);  }, 1000);

                        }else{
                            helper.errorToast(res.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("save-credentials-error", error);
                    });
                helper.stopLoading();
                this.getOrders(1);
                return true;

            },
            getOrderTrackingInfo(order_id, order_number){

                let params = {
                    "db_order_id" : order_id,
                    "order_number" : order_number
                };

                helper.startLoading();
                let self = this;
                instance.post('/orders/get-tracking-info',params)
                    .then(function (res) {
                       // console.log("get-track-res", res);
                        if (res.data.success) {

                            self.tracking_info_data = res.data.data;

                            self.view_tracking_info_model = true;

                        }else{
                            helper.errorToast(res.data.message);
                        }

                    })
                    .catch(function (error) {
                        console.log("save-credentials-error", error);
                    });
                helper.stopLoading();
                this.getOrders(1);
                return true;

            },
             openViewTrackInfoModel(order_id, order_number){
                 this.tracking_info_data = [];
                 this.getOrderTrackingInfo(order_id, order_number);
               //  this.view_tracking_info_model = true;

            },
            closeViewTrackInfoModel(){
                this.tracking_info_data = [];
                this.view_tracking_info_model = false;
            },
            onClearAllFilters: function() {
                this.filterByType = '';
                this.SelectedTypeOption = "Fulfillment Status";
                this.ClearFilterText = "No filters applied";
                this.ClearFilterStatus = true;
                this.getOrders(1);

            },

        },
        created() {
            let base = this;
            this.getOrders(1);
            base.$root.$on('get-order-data', function(page){
                base.getOrders(page);
            });

        }
    }
</script>

<style scoped>

</style>
