
<!--<product-services></product-services>-->

<template>
    <div>
    <div class="Polaris-ButtonGroup">
        <div class="Polaris-ButtonGroup__Item">

       <!--       <button  v-bind:class="['Polaris-Button', { 'Polaris-Button--disabled' : is_pdf_generated_lodder }]" type="button" @click="generateOrderPdf()">
                <span class="Polaris-Button__Content">
                    <span class="Polaris-Button__Text">
                        Print
                    </span>
                </span>
            </button> -->

                  <PButton
                    type="button"
                    :loading="is_pdf_generated_lodder"
                    size="medium"
                    textAlign="left"
                    icon="<span color=&quot;base&quot; ><svg color=&quot;base&quot; viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M10.707 17.707l5-5a.999.999 0 1 0-1.414-1.414L11 14.586V3a1 1 0 1 0-2 0v11.586l-3.293-3.293a.999.999 0 1 0-1.414 1.414l5 5a.999.999 0 0 0 1.414 0' /></svg></span>"
                    @click="generateOrderPdf()"
                  >
                    Print
                  </PButton>



        </div>
        <div class="Polaris-ButtonGroup__Item">
            <button class="Polaris-Button Polaris-Button--primary" type="button" @click="updateOrdersPackStatus()">
                <span class="Polaris-Button__Content">
                    <span class="Polaris-Button__Text">
                        {{is_pack==0 ? 'Pack' : 'Pick' }}
                    </span>
                </span>
            </button>
        </div>
    </div>
    </div>
</template>

<script>
    import {Button, Modal, Toast} from "@shopify/app-bridge/actions";
    import helper from "../../helper";
    import instance from "../../axios";



    export default {
        name: "OrderActions",
        components: {

        },
        props: ["order_id","is_pack"],
        data(){
            return {
                name:"test",
                file_url:'',
                is_pdf_generated_lodder:false
            }
        },
        mounted() {
           // console.log('Order-Action PACK $ PDF  Component mounted.')
        },
        methods: {

            updateOrdersPackStatus(){

                //console.log("updateOrdersPackPick method call");

               // console.log("is_pack :: Action",this.is_pack);

                let is_pack_btn_status = this.is_pack==1 ? 0 : 1;
                //console.log("is_pack_btn_status",is_pack_btn_status);
                let params = {
                    'order_id': this.order_id,
                    'is_pack' : is_pack_btn_status
                };

                let is_pack_title = this.is_pack==0 ? 'PACK' : 'PICK';

           //START::confirmModel
                const okButton = Button.create(window.shopify_app_bridge, {label: is_pack_title});
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                const modalOptions = {
                    title:  'Order '+ is_pack_title,
                    message: 'Are you sure, you want to '+ is_pack_title +' the order?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };

                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);

                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });

                okButton.subscribe(Button.Action.CLICK, data => {

                   // console.log("PACK will update soon..");

                    helper.startLoading();
                    myModal.dispatch(Modal.Action.CLOSE);

                    let endPoint = '/orders/update/is-pack';

                    instance.post(endPoint,params)
                        .then(res => {
                           // console.log("res",res);
                            helper.stopLoading();
                            helper.successToast(res.data.message);
                            this.$router.push({ name: 'dashboard' });
                        })
                        .catch(err => {
                            helper.stopLoading();
                            helper.errorToast(res.data.message);
                            console.log(err);

                        });
                });
                //END::confirmModel

                // instance.post('/orders/update/is-pack',params).then((res) => {
                //
                //     console.log("updateOrdersPackPick res",res);
                //
                //     // Process errors, if any
                //     if (res.data.errors && res.data.errors.length > 0)
                //     {
                //         console.log('Errors:\n' + res.data.errors.join("\n"));
                //
                //     }
                //
                //     // Success
                //     else if (res.data.success)  {
                //
                //         console.log("updateOrdersPackPick-data",res.data.data);
                //
                //     }
                //
                //     // Unknown server error (catch all)
                //     else {
                //
                //         console.log('Could not update order pack due to server error. Please try again or contact support for help.');
                //         return false;
                //     }
                // });

                return true;
            },
            generateOrderPdf(){
               // console.log("Generate pdf method call");

                let params = {
                    'order_id': this.order_id,
                };
                helper.startLoading();
                this.is_pdf_generated_lodder = true;
                instance.post('/orders/generate-pdf',params).then((res) => {

                   // console.log("Generate PDF res",res);

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                       // console.log('Errors:\n' + res.data.errors.join("\n"));

                    }

                    // Success
                    else if (res.data.success)  {
                        //console.log("Generate pdf -data",res.data.data);

                        this.file_url = res.data.data.file_url;

                     let filename =  res.data.data.filename;
                     this.download(this.file_url,filename);


                    }

                    // Unknown server error (catch all)
                    else {

                        //console.log('Could not generate  orders pdf due to server error. Please try again or contact support for help.');
                        return false;
                    }
                   helper.stopLoading();
                   this.is_pdf_generated_lodder = false;
                   helper.successToast(res.data.message);


                });

                return true;
            },
             download(file_url,filename) {
                var createDl = document.createElement('a');
                createDl.setAttribute('href', file_url);
                createDl.setAttribute('download', filename);
                createDl.style.display = 'none';
                document.body.appendChild(createDl);
                createDl.click();
                document.body.removeChild(createDl);
            }


        },
        created() {
           // console.log('Order-Action PACK $ PDF :: Component created.');

        },
        updated() {
           // console.log('Order-Action PACK $ PDF :: Component updated.');

        }
    }
</script>

<style scoped>

</style>
