<template>


    <div v-if="reviewsLoaded || reviews.length == 0" class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body" v-if="reviewsLoaded">
                Loading reviews, please wait...
            </div>
            <div class="card-body" v-else>
                No reviews have been imported yet...
            </div>
        </div>
    </div>

    <div v-else class="product-reviews-main">
        <div class="product-review-data" v-for="(review, index) in reviews">
            <div class="review-profile">
                <img  src="/images/no-user.jpg" alt="Profile" class="review-profile-img"/>
                <p v-if="review.profile">{{ review.review_by }}</p>
            </div>
            <div class="review-body">
                <p><b>{{ review.title }}</b></p>
                <span v-if="review.date" class="review-date">{{ review.date.raw }}</span>
                <p v-if="review.body" v-html="review.body"></p>
            </div>
        </div>
    </div>
</template>

<script>

    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "./../../helper";
    import instance from "./../../axios";
    import { BulletListLoader } from 'vue-content-loader';
    import CustomPaginate from "./../shopify/CustomPaginate";

export default {
    name: "Review",
    data(){
       return{
           reviews: [],
           reviewsLoaded : false
       }
    },
    methods:{
        getReviews(id){
            this.reviewsLoaded = true;
            helper.startLoading();
            console.log("Review",id);
            instance.get('/my-products/get-reviews?id=' + id).then((res) => {
                let data = res.data.data;
                this.reviews = data;
                console.log("reviews",this.reviews);
                helper.stopLoading();
                this.reviewsLoaded = false;
            });
        }
    },
    mounted() {
    }
}
</script>

<style scoped>

</style>
