<template>
    <div>

<!--        <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" v-if="is_load">-->
<!--        </bullet-list-loader>-->

        <div class="Polaris-Layout">
            <div class="Polaris-Layout__Section">
                <div>
                    <div class="Polaris-Page">

                        <div class="Polaris-Page__Content">
                            <div class="Polaris-Card">
                                <form id="connectMuxMailForm" @submit.prevent="submitCredentials">
                                    <div class="Polaris-Card__Header">
                                        <h2 class="Polaris-Heading">MyBeautySite Account</h2>
                                    </div>
                                    <div class="Polaris-Card__Section">

                                        <div v-if="errors.length">
                                            <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner30Heading" aria-describedby="PolarisBanner30Content">
                                                <div class="Polaris-Banner__ContentWrapper">
                                                    <div class="Polaris-Banner__Heading" id="PolarisBanner30Heading">
                                                        <p class="Polaris-Heading">Please correct the following error(s):</p>
                                                    </div>
                                                    <div id="myFieldIDError" class="Polaris-InlineError" v-for="error in errors" >
                                                        <div class="Polaris-InlineError__Icon">
                                        <span class="Polaris-Icon">
                                        <span class="Polaris-VisuallyHidden">
                                        </span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                          <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
                                          </path>
                                        </svg>
                                        </span>
                                                        </div>
                                                        {{ error }}
                                                    </div>
                                                </div>

                                                <div id="PolarisPortalsContainer"></div>
                                            </div>
                                            <br>
                                        </div>
                                        <div>
                                            <div class="Polaris-FormLayout">
                                                <div class="Polaris-FormLayout__Item">
                                                    <div class="">
                                                        <div class="Polaris-Labelled__LabelWrapper">

                                                            <div class="Polaris-Label">
                                                                <label id="PolarisTextField19Label" for="PolarisTextField19" class="Polaris-Label__Text">
                                                                    Email
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Connected">
                                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                <div class="Polaris-TextField">
                                                                    <input id="PolarisTextField19"
                                                                           autocomplete="email"
                                                                           name="email"
                                                                           v-model="form.email"
                                                                           class="Polaris-TextField__Input"
                                                                           aria-labelledby="PolarisTextField19Label"
                                                                           aria-invalid="false"
                                                                           type="email"
                                                                          >
                                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="Polaris-FormLayout__Item">
                                                    <div class="">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label">
                                                                <label id="PolarisTextField20Label"  for="PolarisTextField20" class="Polaris-Label__Text">
                                                                    Password
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Connected">
                                                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                <div class="Polaris-TextField">
                                                                    <input id="PolarisTextField20"
                                                                           name="password" v-model="form.password"                                       autocomplete="off"
                                                                           class="Polaris-TextField__Input"
                                                                           type="password"
                                                                           aria-labelledby="PolarisTextField20Label"
                                                                           aria-invalid="false"
                                                                           >
                                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="PolarisPortalsContainer"></div>
                                        </div>
                                    </div>
                                    <div class="Polaris-Card__Footer">
                                        <div class="Polaris-ButtonGroup">
                                            <div class="Polaris-ButtonGroup__Item"><button class="Polaris-Button Polaris-Button--primary" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="PolarisPortalsContainer"></div>
                </div>

               <div id="PolarisPortalsContainer"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from "../../helper";
    import instance from "../../axios";
    import {BulletListLoader} from 'vue-content-loader';

    export default {
        name: "SaveMagentoCredentials",
        props: [],
        components: {
            BulletListLoader
        },
        mounted() {
            console.log("SaveMagentoCredentials :: mounted");
            this.getCredentials();
        },
        updated() {
            console.log("SaveMagentoCredentials :: updated");
        },
        created() {
            console.log("SaveMagentoCredentials :: created");
        },
        data() {
            return {
                title: "SaveMagentoCredentials",
                //is_load: false,
                form : {
                    email : null,
                    password : null
                },
                errors : [],
            }
        },
        methods: {
            getCredentials() {
                let self = this;
               // self.is_load = true;
                console.log("magento-credentials::call");
                instance.get('/get-magento-credentials')
                    .then(function (res) {
                        console.log("credentials res", res);
                        if (res.data.success)  {

                            console.log("credentials user", res.data.user.email);

                            if(res.data.user.email){
                                self.form.email =  res.data.user.email;

                                console.log("self.form.email",self.form.email);
                            }
                            if(res.data.user.password){
                                self.form.password = res.data.user.password;
                            }

                        }
                        //self.is_load = false;
                    })
                    .catch(function (error) {
                        console.log("credentials-error", error);
                    });
            },
            submitCredentials: function (e) {

                let self = this;

                this.errors = [];

                if (!this.form.email) {
                    this.errors.push('Email is Required.');
                }
                if (!this.form.password) {
                    this.errors.push('Password is Required.');
                }
                if (this.email && this.password) {
                    console.log("Form is Valid");
                }
                e.preventDefault();

                if (this.form.email && this.form.password) {
                    helper.startLoading();

                    console.log("Form-data", this.form);
                    let params = {
                        "email" : this.form.email,
                        "password" : this.form.password
                    };
                    instance.post('/save-magento-credentials',params)
                        .then(function (res) {
                            console.log("save-credentials-res", res);
                            if (res.data.success)  {

                                setTimeout(() => { helper.successToast(res.data.message);  }, 1000);
                                //setTimeout(() => { this.$refs.modal.close(); }, 1000);

                            }else{
                                helper.errorToast('Could not retrieve product types due to server error. Please try again or contact support for help.');
                            }

                        })
                        .catch(function (error) {
                            console.log("save-credentials-error", error);
                        });
                    helper.stopLoading();
                }


                this.getCredentials();
                return true;
            },
        }

    }
</script>
