<template>
   
   <div>
        <div p-color-scheme="light">
        <div class="Polaris-Card">  
        <div class="videoWrapper">
        <!-- Copy & Pasted from YouTube -->
              <iframe  src="https://stylistsolutions.wistia.com/medias/td13r2lbsj" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>  
        </div>
   </div>

</template>

<script>
export default {
    name:"vedio",
    components : {

    },
    props:[],
    data(){
        return {

        }
    },
    mounted(){

    },
    methods:{

    },
    created(){

    },
    updated(){

    }
}
</script>