
<!--<product-services></product-services>-->

<template>
    <div>
 <!-- START ::  More Filter Model-->

        <div>
            <div v-if="showMoreFilterModel" id="PolarisPortalsContainer" class="res-more-filter">
                <div class="Polaris-Sheet__Container" data-polaris-layer="true" data-polaris-overlay="true">
                    <div>
                        <div role="dialog" aria-modal="true" tabindex="-1" class="Polaris-Sheet"
                             aria-label="More filters">
                            <div class="Polaris-Filters__FiltersContainer">
                                <div class="Polaris-Filters__FiltersContainerHeader"><h3
                                    class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">More filters</h3>
                                    <button @click="closeMoreFilterModel()" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                            aria-label="Cancel" type="button"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                        class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                        aria-hidden="true"><path
                                        d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                    </button>
                                </div>
                                <div
                                    class="Polaris-Filters__FiltersDesktopContainerContent Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling"
                                    data-polaris-scrollable="true">

<!-- START :: filterByTypeCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterByTypeCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Brand</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterByTypeCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                             style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                            aria-invalid="false" v-model="filterByType"
                                                                            @change="handleFiltersByType($event)">
                                                                        <option value="0">Select Brand</option>
                                                                        <option v-for="type in productTypesData"
                                                                                :value="type">{{ type }}
                                                                        </option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                        class="Polaris-Select__SelectedOption">  {{SelectedTypeOption}}</span><span
                                                                        class="Polaris-Select__Icon"><span
                                                                        class="Polaris-Icon"><span
                                                                        class="Polaris-VisuallyHidden"></span><svg
                                                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                        focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterByTypeClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterByTypeClearStatus }]"
                                                                aria-label="Clear Product Type" type="button"
                                                                :disabled="filterByTypeClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
 <!-- END :: filterByTypeCollapsible --------------------------------------------------------------------->

 <!-- START :: filterByCollectionCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterByCollectionCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Categories</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterByCollectionCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                              style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                            aria-invalid="false" v-model="filterByCollection"
                                                                            @change="handleFiltersByCollection($event)">
                                                                        <option value="0">{{collections.length > 0 ? 'Select Categories:' : 'Categories not found'}}</option>
                                                                        <option v-for="collection in collections"
                                                                                :value="collection.entity_id">{{ collection.category_name }}
                                                                        </option>
                                                                    </select>

                                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                        class="Polaris-Select__SelectedOption">  {{SelectedCollectionOption}}</span><span
                                                                        class="Polaris-Select__Icon"><span
                                                                        class="Polaris-Icon"><span
                                                                        class="Polaris-VisuallyHidden"></span><svg
                                                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                        focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterByCollectionClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterByCollectionClearStatus }]"
                                                                    aria-label="Clear Product Type" type="button"
                                                                    :disabled="filterByCollectionClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
 <!-- END :: filterByCollectionCollapsible --------------------------------------------------------------------->

 <!-- START :: filterBySortCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterBySortCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Sort by</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterBySortCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                              style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="filterBySort" @change="handleFiltersBySort($event)">
                                                                        <option value="titleAlpha">Product title A–Z</option>
                                                                        <option value="titleReverseAlpha">Product title Z–A</option>
                                                                        <option value="oldestCreated">Created (oldest first)</option>
                                                                        <option value="newestCreated">Created (newest first)</option>
                                                                        <option value="typeAlpha">Product type A–Z</option>
                                                                        <option value="typeReverseAlpha">Product type Z–A</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__InlineLabel">Sort by</span><span class="Polaris-Select__SelectedOption">{{SelectedSortOption}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                            </svg>

                                                        </span></span></div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterBySortClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterBySortClearStatus }]"
                                                                    aria-label="Clear Product Type" type="button"
                                                                    :disabled="filterBySortClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
 <!-- END :: filterBySortCollapsible --------------------------------------------------------------------->



                                </div>
                                <div class="Polaris-Filters__FiltersContainerFooter">
<!--                                    <button class="Polaris-Button Polaris-Button&#45;&#45;disabled" type="button" disabled="">-->
<!--                                        <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Clear all filters</span></span>-->
<!--                                    </button>-->
                                    <button class="Polaris-Button" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                    </button>
                                    <div>
                                        <button @click="closeMoreFilterModel()" class="Polaris-Button Polaris-Button--primary" type="button"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Done</span></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Backdrop"></div>
            </div>
        </div>

<!-- END ::  More Filter Model-->

       <div class="print-btn">
                <div>
                    <div class="Polaris-Card__Section" v-show="show_total_search_result">
                        <p > Showing {{total_search_product}} of {{total_product}} products.</p>
                    </div>
                </div>
                <div v-show="true">
                    <div>
                        <div class="Polaris-ButtonGroup">
                            <div class="Polaris-ButtonGroup__Item">
                                <button class="Polaris-Button Polaris-Button--primary" type="button" @click="addProduct()">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">
                                   Add To Store
                                </span>
                            </span>
                                </button>
                            </div>

                            <div class="Polaris-ButtonGroup__Item">
                                <button class="Polaris-Button Polaris-Button--secondary" type="button" @click="clearProduct()">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">
                                  Clear
                                </span>
                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div  v-if="!is_load" class="order-list Polaris-Card">
            <div  class="">
            <div  style="">
                    <div class="Polaris-ResourceList__ResourceListWrapper">
                        <div class="Polaris-ResourceList__FiltersWrapper">
                            <div class="Polaris-Filters">
                                <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
                                    <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right">
                                        <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                <div class="Polaris-Labelled--hidden">
                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                        <div class="Polaris-Label">
                                                            <label id="PolarisTextField2Label" for="PolarisTextField2" class="Polaris-Label__Text">Filter
                                                                products</label>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Connected">
                                                        <div  class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                            <div class="Polaris-TextField">
                                                                <div class="Polaris-TextField__Prefix" id="PolarisTextField2Prefix">
                                                                <span class="Polaris-Filters__SearchIcon">
                                                                    <span class="Polaris-Icon">
                                                                        <span class="Polaris-VisuallyHidden"></span>
                                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                             focusable="false" aria-hidden="true">
                                    <path
                                        d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z">

                                    </path>

                                                                        </svg>
                                                                    </span>
                                                                </span>
                                                                </div>
                                                                <input id="PolarisTextField2" placeholder="Filter products"
                                                                       autocomplete="off"
                                                                       class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton"
                                                                       aria-labelledby="PolarisTextField2Label PolarisTextField2Prefix"
                                                                       aria-invalid="false"
                                                                       v-on:keyup.enter="handleFiltersBySearch($event)"
                                                                       v-model="filterBySearch">
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__RightContainer res-less-filter">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                                <div>
                                                    <div class="">
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="filterByType"
                                                                    @change="handleFiltersByType($event)">
                                                                <option value="0">Select Brand</option>
                                                                <option v-for="type in productTypesData"
                                                                        :value="type">{{ type }}
                                                                </option>
                                                            </select>

                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedTypeOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                                <div>
                                                    <div class="">
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="filterByCollection"
                                                                    @change="handleFiltersByCollection($event)">
                                                                <option value="0">{{collections.length > 0 ? 'Select Categories:' : 'Categories not found'}}</option>
                                                                <option v-for="collection in collections"
                                                                        :value="collection.entity_id">{{ collection.category_name }}
                                                                </option>
                                                            </select>

                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedCollectionOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__MoreFiltersButtonContainer res-less-filter">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                <div>
                                                    <div class="Polaris-Labelled--hidden">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label"><label id="PolarisSelect14Label" for="PolarisSelect14" class="Polaris-Label__Text">Sort by</label></div>
                                                        </div>
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="filterBySort" @change="handleFiltersBySort($event)">
                                                                <option value="titleAlpha">Product title A–Z</option>
                                                                <option value="titleReverseAlpha">Product title Z–A</option>
                                                                <option value="oldestCreated">Created (oldest first)</option>
                                                                <option value="newestCreated">Created (newest first)</option>
                                                                <option value="typeAlpha">Product type A–Z</option>
                                                                <option value="typeReverseAlpha">Product type Z–A</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__InlineLabel">Sort by</span><span class="Polaris-Select__SelectedOption">{{SelectedSortOption}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                            </svg>

                                                        </span></span></div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                            <div>
                                                <button class="Polaris-Button Polaris-Button--fullWidth" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__Item res-more-filter">
                                            <div>
                                                <button @click="openMoreFilterModel()" class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">More filters</span></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <div v-if="product_data.length > 0">
                   <table class="w-100 products-list-table" id="magento_product_list">
                <thead>
                <tr  v-if="product_data.length > 0">
                    <th  colspan="3" class="text-left">
                        <h4><span class="Polaris-TextStyle--variationStrong">Product Info</span></h4>
                    </th>
                    <th class="text-left">
                        <h4><span class="Polaris-TextStyle--variationStrong">MSRP Price</span></h4>
                    </th>
                    <th class="text-left">
                        <h4><span class="Polaris-TextStyle--variationStrong">Cost</span></h4>
                    </th>
                    <th class="text-left">
                        <h4><span class="Polaris-TextStyle--variationStrong">Inventory</span></h4>
                    </th>
                    <th class="text-left">
                        <h4><span class="Polaris-TextStyle--variationStrong">Brand</span></h4>
                    </th>
<!--                     <th class="text-left">-->
<!--                        <h4><span class="Polaris-TextStyle&#45;&#45;variationStrong">Categories</span></h4>-->
<!--                    </th>-->
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col">
                        <h4><span class="Polaris-TextStyle--variationStrong"> Add To Store</span></h4>
                    </th>

<!--                    <th class="text-left">-->
<!--                        <h4><span class="Polaris-TextStyle&#45;&#45;variationStrong">Inventory Sync</span></h4>-->
<!--                    </th>-->
                </tr>
                <tr>
                    <th colspan="7"></th>
                    <th  class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--total" scope="row">
                        <div class="d-flex align-center">
                            <input type="checkbox"  class="mark_as_missing_checkbox"  @change="checkAllItems()" :checked="isCheckAllItems" id="PCheckboxAll" />
                              <label for="PCheckboxAll">All</label>
                        </div>
                    </th>
                 </tr>

                </thead>

                <tbody v-if="product_data.length > 0"
                       v-for="(product, index) in product_data" :key="index"  :id="product.entity_id" class="Polaris-ResourceItem">
                <tr :id="product.entity_id">

                    <td colspan="3">
                        <div class="d-flex align-center">

                            <div class="Polaris-ResourceItem__ItemWrapper">
                                <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                    <div class="Polaris-ResourceItem__Container" id="341">
                                        <div class="Polaris-ResourceItem__Owned">
                                            <div class="Polaris-ResourceItem__Media">
                                                <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                      <div v-if="product.small_image">
                                <img  :src="(product.small_image!==null ? product.small_image : default_product_image)"
                                      :alt="product.name"
                                      @error="imageLoadError"
                                      class="img-fluid">
                              </div>

                            <div v-else-if="product.thumbnail">
                                <img  :src="(product.thumbnail!==null ? product.thumbnail : default_product_image)"
                                      :alt="product.name"
                                      @error="imageLoadError"
                                      class="img-fluid">
                            </div>

                            <div v-else>
                                <img  :src="(product.image!==null ? product.image : default_product_image)"
                                      :alt="product.name"
                                      @error="imageLoadError"
                                      class="img-fluid">
                            </div>

                                          </span>
                                            </div>
                                        </div>
                                        <div class="Polaris-ResourceItem__Content">
                                            <div class="d-flex align-center">
                                                <div v-if="product.able_to_add_shopify=='true'">
                                                <form ref="form" :action="loginauth_api_url"  target="_blank" method="post">
                                                    <input  name="product_url" :value="product.url"  type="hidden">
                                                    <input  name="username"  :value="email"   type="hidden">
                                                    <input  name="password" :value="password" type="hidden">
                                                    <button class="Polaris-Button Polaris-Button--plain" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{product.name}}</span></span></button>
                                                </form>
                                                </div>
                                                 <div v-else>

                                                     <button class="Polaris-Button Polaris-Button--plain" type="button" @click="openUpgradeModel()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{product.name}}</span></span></button>

                                                 </div>
                                            </div>

                                            <div v-if="product.product_type_id=='configurable'">
                                                Variants: <a href="#" @click.prevent="getProductsVariants(product.entity_id,index)">
                                                 {{ product.variants_count }}</a></div>
                                            <div>
                                                SKU: {{product.sku}}
                                            </div>
                                            <div>
                                                Type: {{product.product_type_id}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-center">

                            <p v-if="product.product_type_id=='configurable'" class="mb-0">{{product.currency_symbol}} {{parseFloat(product.min_price).toFixed(2)}}  -  {{product.currency_symbol}} {{parseFloat(product.max_price).toFixed(2)}}</p>

                            <p v-else class="mb-0">
                                {{product.currency_symbol}} {{parseFloat(product.price).toFixed(2)}}
                            </p>

                        </div>
                    </td>
                    <td>
                        <p class="mb-0">{{product.currency_symbol}} {{parseFloat(product.wholesale_price).toFixed(2)}}</p>
                    </td>
                    <td>
                        <div class="d-flex align-center">
                            <p class="mb-0" v-if="product.product_type_id!=='configurable'">{{parseFloat(product.inventory_quantity) > 0 ? "Instock" : "Out of stock" }}</p>
                        </div>
                    </td>
                     <td>
                        <div class="d-flex align-center">
                            <p class="mb-0">{{product.brand}}</p>
                        </div>
                    </td>
<!--                    <td>-->
<!--                        <div class="align-center">-->
<!--                            <p v-if="product.categories.length > 0"-->
<!--                                 v-for="(category, index) in product.categories" :key="index"  :id="index" class="Polaris-ResourceItem">-->
<!--                                <span class="mb-0">{{index+1}}. {{category}}</span><br>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div v-if="product.able_to_add_shopify=='true'" class="d-flex align-center">
                            <input  @change="updateCheckItem()" type="checkbox"
                                    :checked="is_marked  || isCheckAllItems"
                                    :id="product.entity_id"
                                    :value="product.entity_id"
                                    class="mark_as_missing_checkbox"
                                    v-model="selectedProductsItem">
                            <label :for="product.entity_id"></label>
                        </div>
                    </td>
<!--                    <td>-->
<!--                        <div v-if="product.able_to_add_shopify=='true'" class="d-flex align-center">-->
<!--                            <input  type="checkbox"-->
<!--                                    :id="product.entity_id"-->
<!--                                    :value="product.entity_id"-->
<!--                                    class="mark_as_missing_checkbox"-->
<!--                                    v-model="selectedInventoryProductsItem">-->
<!--                            <label :for="product.entity_id"></label>-->
<!--                        </div>-->
<!--                    </td>-->
                </tr>
                <tr v-if="is_simple_product" :class="'detail collapse collapse' + index" aria-expanded="false">
                    <td colspan="10">
                        <div v-if="variantsLoaded || variants.length == 0" class="col-md-12">
                            <div class="card shadow-sm">
                                <div class="card-body" v-if="variantsLoaded">
                                    Loading variants, please wait...
                                </div>
                                <div class="card-body" v-else>
                                    No variants have been imported yet...
                                </div>
                            </div>
                        </div>
                        <div v-else class=""  id="printPage">
                            <div class="Polaris-Page__Content d-flex" id="">
                                <div class="Polaris-Card" style="padding: 10px;width: 100%;">
                                    <table class="table table-striped w-100"  v-if="variants && variants.length">
                                        <thead>
                                        <tr>
                                            <th scope="col">Variant Info</th>
                                            <th scope="col" colspan="2">Options</th>
                                            <th scope="col">Inventory</th>
                                            <th scope="col">MSRP Price</th>
                                            <th scope="col">Cost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(variant, vIndex) in variants">
                                            <td data-v-82770cac="" class="li-image">
                                                <div data-v-82770cac="" class="d-flex align-center">

                                                    <div class="Polaris-ResourceItem__ItemWrapper">
                                                        <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                                            <div class="Polaris-ResourceItem__Container" id="341">
                                                                <div class="Polaris-ResourceItem__Owned">
                                                                    <div class="Polaris-ResourceItem__Media">
                                                <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                      <div v-if="variant.small_image">
                                <img  :src="(variant.small_image!==null ? variant.small_image : default_product_image)"
                                      :alt="variant.name"
                                      @error="imageLoadError"
                                      class="img-fluid">
                              </div>

                            <div v-else-if="variant.thumbnail">
                                <img  :src="(variant.thumbnail!==null ? variant.thumbnail : default_product_image)"
                                      :alt="variant.name"
                                      @error="imageLoadError"
                                      class="img-fluid">
                            </div>

                            <div v-else>
                                <img  :src="(variant.image!==null ? variant.image : default_product_image)"
                                      :alt="variant.name"
                                      @error="imageLoadError"
                                      class="img-fluid">
                            </div>

                                          </span>
                                                             </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Content">
                                                                    <div class="d-flex align-center">
                                                                        <form ref="form" :action="loginauth_api_url"  target="_blank" method="post">
                                                                            <input  name="product_url" :value="variant.url"  type="hidden">
                                                                            <input  name="username"  :value="email"   type="hidden">
                                                                            <input  name="password" :value="password" type="hidden">
                                                                            <button class="Polaris-Button Polaris-Button--plain" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">{{variant.name}}</span></span></button>
                                                                        </form>
                                                                    </div>
                                                                    <div>
                                                                        SKU: {{variant.sku}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <div v-for="(option, oIndex) in variant.attributes" class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                                    <div class="Polaris-Stack__Item">
                                                        <h2 class="Polaris-Heading">{{ option.attribute }}</h2>
                                                    </div>
                                                    <div class="Polaris-Stack__Item"><span class="Polaris-Badge">{{ option.value }}</span></div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="mb-0">{{parseFloat(variant.inventory_quantity) > 0 ? "Instock" : "Out of stock" }}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0">{{variant.currency_symbol}} {{parseFloat(variant.price).toFixed(2)}}</p>
                                            </td>
                                            <td>
                                                <p class="mb-0">{{variant.currency_symbol}} {{parseFloat(variant.wholesale_price).toFixed(2)}}</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
               </tbody>
            </table>
                     <div class="Polaris-Card__Section" v-if="product_data.length > 0">
                            <custom-paginate  data_key="product" :prev_page="prev_page" :next_page="next_page" is_tab="pick_order"></custom-paginate>
                     </div>
                </div>
                <div v-else>
                    <div class="Polaris-Card"">
                    <div class=" Polaris-Card__Section">
                        <record-not-found not_found_message="Could not find any Product"></record-not-found>
                    </div>
                    </div>
                </div>
         </div>
         </div>

        <div v-if="is_load">
            <div class="Polaris-Card"">
            <div class=" Polaris-Card__Section">
                <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" >
                </bullet-list-loader>
            </div>
             </div>
        </div>



        <!-- START ::  Product Access Limited  Model ========================================================-->
        <div>
            <div id="PolarisPortalsContainer"
                 v-if="product_upgrade_model">
                <div data-portal-id="modal-Polarisportal4">
                    <div>
                        <div class="Polaris-Modal-Dialog__Container"
                             data-polaris-layer="true"
                             data-polaris-overlay="true">
                            <div>
                                <div role="dialog" aria-modal="false"
                                     aria-labelledby="Polarismodal-header4"
                                     tabindex="-1" class="Polaris-Modal-Dialog">
                                    <div class="Polaris-Modal-Dialog__Modal">
                                        <div class="Polaris-Modal-Header">
                                            <div id="Polarismodal-header4"
                                                 class="Polaris-Modal-Header__Title">
                                                <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">
                                                    Product Access Limited</h2>
                                            </div>
                                            <button
                                                class="Polaris-Modal-CloseButton"
                                                @click="closeUpgradeModel()"
                                                aria-label="Close"><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg
                                                viewBox="0 0 20 20"
                                                class="Polaris-Icon__Svg"
                                                focusable="false"
                                                aria-hidden="true">
<path
    d="m11.414 10 6.293-6.293a1 1 0 1 0-1.414-1.414L10 8.586 3.707 2.293a1 1 0 0 0-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 1 0 1.414 1.414L10 11.414l6.293 6.293A.998.998 0 0 0 18 17a.999.999 0 0 0-.293-.707L11.414 10z"></path>
</svg></span></button>
                                        </div>
                                        <div class="Polaris-Modal__BodyWrapper">
                                            <div  class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                                                  data-polaris-scrollable="true">
                                                <section class="Polaris-Modal-Section">
                                                    <div class="Polaris-Stack Polaris-Stack--vertical">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="Polaris-TextContainer">

                                                                <p> Upgrade Your <a href="https://mybeautysite.com/" target="_blank">Mybeautsite.com </a> account for access </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="Polaris-Modal-Footer">
                                            <div class="Polaris-Modal-Footer__FooterContent">
                                                <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                                    <div class="Polaris-Stack__Item">
                                                        <div class="Polaris-ButtonGroup">
                                                            <div class="Polaris-ButtonGroup__Item"><button class="Polaris-Button" type="button" @click="closeUpgradeModel()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Close</span></span></button></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Backdrop"></div>
                </div>
            </div>
        </div>
        <!-- END :: Product Access Limited Model ========================================================-->

    </div>
</template>

<script>
    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "./../../../helper";
    import instance from "./../../../axios";
    import { BulletListLoader } from 'vue-content-loader';
    import CustomPaginate from "./../../shopify/CustomPaginate";
    import RecordNotFound from "./../RecordNotFound";
    export default {
        name: "ProductList",
        components: {
            BulletListLoader,CustomPaginate,RecordNotFound
        },
        props: [],
        data(){
            return {
                product_data : [],
                productData:[],
                default_product_image:"/images/defaultProduct.png",
                all_marked:false,
                is_marked:1,
                isCheckAllItems: false,
                items:[],
                item_id:[],
                ProductsItems:[],
                selectedProductsItem:[],
                selectedInventoryProductsItem:[],
                mark_as_missing_status:'',
                next_page: '',
                prev_page: '',
                next_page_missing_order: '',
                prev_page_missing_order: '',
                is_load : true,
                magento_site_url : '',
                loginauth_api_url : '',
                showProductVariants: -1,
                variants : [],
                variantsLoaded: false,
                is_simple_product: false,
                collections :[],
                //Filter Variable :: Start
                productTypesData :[],
                filterByCollection : "0",
                filterBySearch: '',
                filterBySort : 'titleAlpha',
                filterByType : "0",
                SelectedTypeOption :"Select Brand",
                SelectedCollectionOption : "Categories",
                SelectedSortOption : "Product title A–Z",
                ClearFilterText : "No filters applied",
                ClearFilterStatus : true,
                page : 1,
                email : null,
                password : null,
                total_product : 0,
                total_search_product : 0,
                show_total_search_result : false,
                product_upgrade_model : false,

                //More filter variables
                filterByTypeCollapsible:false,
                filterByCollectionCollapsible:false,
                filterBySortCollapsible:false,
                showMoreFilterModel:false,
                filterByTypeClearStatus:true,
                filterByCollectionClearStatus:true,
                filterBySortClearStatus:true,
                //More filter variables :: END

                //Filter Variable :: END

            }
        },
        mounted() {
           // console.log('product LIST Component mounted.');
            this.getCredentials();
            this.getCollections();
            this.getProductTypes();
            // this.getProducts(1);
        },
        methods: {
            imageLoadError (event) {
                //console.log('Image failed to load');
                event.target.src = this.default_product_image;
                helper.stopLoading();
            },
            async getProducts(page){

               // console.log("this.Page",this.page)

                this.showProductVariants = -1;
                this.isCheckAllItems = false;
                this.is_marked = false;
                this.variantsLoaded = false;
                if (this.showProductVariants > -1) {
                    $('.collapse' + this.showProductVariants).collapse('hide');
                }
                this.is_simple_product = false;

                this.selectedProductsItem.forEach((value, index) => {
                  //  console.log("VALUE ",value);
                    this.selectedProductsItem.splice(index, 1)
                });

                let filterBySearch = "";
                if(this.filterBySearch.length >=3) {
                    filterBySearch = this.filterBySearch;
                }

                let filterData = {
                    "collection": this.filterByCollection,
                    "search": filterBySearch,
                    "filterBySort" : this.filterBySort,
                    "filterByType" : this.filterByType
                };

                let params = {
                    "filterData" : filterData,
                };

                this.is_load = true;
                helper.startLoading();

                let endPoint = (typeof(page) == 'undefined' || page == 1) ? '/products/get-products' : page;

                instance.post(endPoint,params).then((res) => {

                   // console.log("PRES",res);

          // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                      //  console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {

                      // console.log("Resposne product list tab1",res.data.data.products);

                        this.product_data = res.data.data.products;

                        console.log("Producs",this.product_data.length);

                        if(this.product_data.length > 0) {

                            this.magento_site_url = res.data.data.magento_site_url;

                            this.total_search_product = res.data.data.total_search_product;
                            this.total_product = res.data.data.total_product;
                            this.show_total_search_result = res.data.data.show_total_search_result;

                            this.product_data.forEach((value, index) => {
                                {
                                    if(value.able_to_add_shopify == 'true') {
                                        this.ProductsItems.push(value.entity_id);
                                    }
                                }
                            });

                            if (this.isCheckAllItems == true) {
                                this.ProductsItems.forEach((value, index) => {
                                    if (!this.selectedProductsItem.includes(value)) {
                                        this.selectedProductsItem.push(value);
                                    }
                                });
                            }

                            // console.log("selectedProductsItem", this.selectedProductsItem);
                            if(res.data.data.pagination) {
                                let pagination = res.data.data.pagination;
                                this.next_page = (pagination.nextPageUrl) ? pagination.nextPageUrl : '';
                                this.prev_page = (pagination.previousPageUrl) ? pagination.previousPageUrl : '';
                            }
                        }
                        // console.log("orders-data",this.order_data);

                    }

                    // Unknown server error (catch all)
                    else {

                        //  console.log('Could not retrieve custom orders due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    helper.stopLoading();
                    this.is_load = false;

                });

                return true;
            },
            updateCheckItem(){
                //console.log("ALL Selected",this.selectedProductsItem);
                if(this.selectedProductsItem.length == this.ProductsItems.length){
                    this.isCheckAllItems = true;
                }else{
                    this.isCheckAllItems = false;
                }

            },
            checkAllItems(){

                this.isCheckAllItems = !this.isCheckAllItems;

                this.selectedProductsItem = [];
                if(this.isCheckAllItems==true) {
                    this.ProductsItems.forEach((value, index) => {
                        this.selectedProductsItem.push(value);
                    });
                }

               // console.log("ALL Selected",this.selectedProductsItem);
            },
            getProductsVariants(product_id,index){

                this.is_simple_product = true;

                if (this.showProductVariants > -1) {
                    $('.collapse' + this.showProductVariants).collapse('hide');
                }

                $('.collapse' + index).collapse('toggle');

                this.showProductVariants = index;


                let params = {
                    "product_id" : product_id
                };

                this.variantsLoaded = true;

                instance.post('/products/get-products-variants',params).then((res) => {

                   // console.log("Variants::Res",res);

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                      //  console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                        this.variants = res.data.variants;
                      //  console.log("variants", this.variants);
                        this.variantsLoaded = false;
                    }

                    // Unknown server error (catch all)
                    else {
                        console.log('Could not retrieve products due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;
            },
            addProduct() {
                if(this.selectedProductsItem.length > 0) {
              //  console.log("selectedInventoryProductsItem",this.selectedInventoryProductsItem);

                //START::confirmModel =============================================================================================
                const okButton = Button.create(window.shopify_app_bridge, {label: "Add & Sync"});
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Import product'});


                const modalOptions = {
                    title:  'Add Product',
                    message: 'Are you sure, you want to import selected product?',
                    footer: {
                        buttons: {
                            primary: '',
                            secondary: [cancelButton],
                        },
                    },
                };

                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);

                cancelButton.subscribe(Button.Action.CLICK, data => {
                   // console.log("Only Add to store");
                    myModal.dispatch(Modal.Action.CLOSE);
                    this.selectedInventoryProductsItem = [];
                    this.addProductAction();
                });

                okButton.subscribe(Button.Action.CLICK, data => {
                   // console.log("Add & Sync to store");
                    // console.log("PACK will update soon..");
                    myModal.dispatch(Modal.Action.CLOSE);
                    this.addProductAction();
                });
                //END::confirmModel =============================================================================================

                }else{
                    helper.errorToast("Please select some product");
                }
                return true;

            },
            openUpgradeModel(){

                console.log("open Upgrade Model");

                this.product_upgrade_model = true;


            },
            closeUpgradeModel(){
                this.product_upgrade_model = false;
            },
            addProductAction() {

                helper.startLoading();

                let params = {
                    'product_info': JSON.stringify(this.selectedProductsItem),
                    'auto_update' : JSON.stringify(this.selectedInventoryProductsItem)
                };

                //console.log("add product params",params);

                let base = this;

                instance.post('/products/add-products', params).then((res) => {

                    helper.stopLoading();
                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0) {
                       // console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success) {
                        //console.log("MarkAsMissing-data",res.data.data);
                        helper.successToast(res.data.message);
                        base.clearProduct()
                        base.getProducts(1);
                    }
                    // Unknown server error (catch all)
                    else {
                        helper.errorToast("Could not update add product due to server error. Please try again or contact support for help");
                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    this.selectedProductsItem.forEach((value, index) => {
                        //console.log("value",value);
                        $('#magento_product_list tbody#'+value).remove();
                    });

                   // this.getProducts();
                });
                return true;
            },
            clearProduct() {
                this.selectedProductsItem = [];
                this.selectedInventoryProductsItem = [];
                this.isCheckAllItems = false;
                this.ProductsItems = [];
                this.is_marked = 0;
                this.page = 1;
                this.selectedProductsItem.forEach((value, index) => {
                   // console.log("VALUE ",value);
                    this.selectedProductsItem.splice(index, 1)
                });
                this.selectedProductsItem = [];

                this.getProducts(1);
            },

            //Filter Logic START ==============================================================================================
            getCollections() {
                instance.post('/products/get-products-category').then((res) => {

                    if(res.data.success)  {
                        this.collections = res.data.collections;
                    }
                    // Unknown server error (catch all)
                    else {
                        helper.errorToast('Could not retrieve custom collections due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;
            },
            getProductTypes() {
                instance.post('/products/get-products-type').then((res) => {

                    if(res.data.success)  {
                        this.productTypesData = res.data.product_types;
                    }
                    // Unknown server error (catch all)
                    else {
                        helper.errorToast('Could not retrieve product types due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;
            },
            handleFiltersBySearch: function() {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.getProducts(1);
            },
            handleFiltersBySort: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;

                this.filterBySortClearStatus = false;

                if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                    //console.log('name ',name );

                    this.SelectedSortOption = name;
                }

                this.getProducts(1);
            },
            handleFiltersByCollection: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterByCollectionClearStatus = false;

                if(e.target.options.selectedIndex > -1) {


                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                    //console.log('name ',name );

                    this.SelectedCollectionOption = name;
                }


                this.getProducts(1);
            },
            handleFiltersByType: function(e) {
                console.log("filterByTypeClearStatus",this.filterByTypeClearStatus);
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterByTypeClearStatus = false;

                if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                   // console.log('name ',name );

                    this.SelectedTypeOption = name;
                }


                this.getProducts(1);
            },

            onClearAllFilters: function() {

                this.filterByCollection = "0";
                this.filterBySearch = '';
                this.filterBySort = 'titleAlpha';
                this.filterByType = "0";
                this.ClearFilterText = "No filters applied";
                this.page  =1;
                this.SelectedCollectionOption = "Categories";
                this.SelectedSortOption = "Product title A–Z";
                this.SelectedTypeOption = "Select Brand";
                this.ClearFilterStatus = true;

                this.filterByTypeClearStatus = true;
                this.filterByCollectionClearStatus = true;
                this.filterBySortClearStatus = true;

                this.getProducts(1);

            },

   //More Filter function.

            openMoreFilterModel:function(){
                this.showMoreFilterModel = true;
            },
            closeMoreFilterModel:function(){
                this.showMoreFilterModel = false;
            },
            filterByTypeCollapsibleToggle:function(){
                this.filterByTypeCollapsible = !this.filterByTypeCollapsible;
            },

            filterByCollectionCollapsibleToggle:function(){
                this.filterByCollectionCollapsible = !this.filterByCollectionCollapsible;
            },

            filterBySortCollapsibleToggle:function(){
                this.filterBySortCollapsible = !this.filterBySortCollapsible;
            },

            filterByTypeClear:function(){
                this.filterByTypeClearStatus = true;
                this.filterByType = "0";
                this.SelectedTypeOption = "Select Brand";
                this.getProducts(1);
            },

            filterByCollectionClear:function(){
                this.filterByCollectionClearStatus = true;
                this.filterByCollection = '0';
                this.SelectedCollectionOption = "Categories";
                this.getProducts(1);
            },

            filterBySortClear:function(){
                this.filterBySortClearStatus = true;
                this.filterByType = "0";
                this.SelectedSortOption = "Product title A–Z";
                this.getProducts(1);
            },


  //More Filter function.

   //Filter Logic END ==============================================================================================

            getCredentials() {
                let self = this;
                //console.log("magento-credentials::call");
                instance.get('/get-magento-credentials')
                    .then(function (res) {
                       // console.log("credentials res", res);
                        if (res.data.success)  {

                           // console.log("credentials user", res.data.user.email);
                            self.loginauth_api_url = res.data.loginauth_api_url;
                            if(res.data.user.email){
                                self.email =  res.data.user.email;

                              //  console.log("self.form.email",self.email);
                            }
                            if(res.data.user.password){
                                self.password = res.data.user.password;
                             //   console.log("self.form.password",self.password);
                            }

                        }
                    })
                    .catch(function (error) {
                        console.log("credentials-error", error);
                    });
            }

        },
        created() {
            this.getProducts(1);


            let base = this;
            base.$root.$on('get-product-data', function(page){
                base.page = page;
                base.getProducts(page);
            });

        }
    }
</script>

<style scoped>

</style>
