
<template>
    <div>
        <div v-if="collection_data.length > 0" class="">
            <div class=" print-btn">
                <div></div>
                <div v-show="true">
                    <div>
                        <div class="Polaris-ButtonGroup">
                            <div class="Polaris-ButtonGroup__Item">
                                <button class="Polaris-Button Polaris-Button--primary" type="button" @click="addCollections()">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">
                                   Add To Store
                                </span>
                            </span>
                                </button>
                            </div>

                            <div class="Polaris-ButtonGroup__Item">
                                <button class="Polaris-Button Polaris-Button--secondary" type="button" @click="clearCollections()">
                            <span class="Polaris-Button__Content">
                                <span class="Polaris-Button__Text">
                                  Clear
                                </span>
                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         <div class="Polaris-Card">
        <div class="order-list">
            <table class="w-100" id="magento_category_list">
                <thead>
                <tr v-if="collection_data.length > 0">

                    <th class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Category Name</span></h3>
                    </th>
<!--                    <th class="text-left">-->
<!--                        <h3><span class="Polaris-TextStyle&#45;&#45;variationStrong">My collection</span></h3>-->
<!--                    </th>-->
                    <th  class="text-left">
                        <div class="d-flex align-center">
                            <input type="checkbox"  class="mark_as_missing_checkbox"  @change="checkAllItems()" :checked="isCheckAllItems" id="PCheckboxAll" />
                            <label for="PCheckboxAll">All</label>
                        </div>
                    </th>
                    <th class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Action</span></h3>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="collection_data.length > 0"
                    v-for="(collection, index) in collection_data" :key="index"  :id="collection.entity_id" class="Polaris-ResourceItem">

                    <td>
                        <div class="d-flex align-center">
                                <p class="mb-0">{{collection.category_name}}</p>
                         </div>
                    </td>
<!--                    <td>-->
<!--                        <div class="d-flex align-center" v-if="collection.is_exist_in_shopify">-->
<!--                            <a target="_blank" class="Polaris-Link" :href="collection.collection_edit_url" rel="noopener noreferrer" data-polaris-unstyled="true">-->
<!--                                <p class="mb-0">View on Shopify</p>  </a>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div class="d-flex align-center">
                            <div v-if="collection.is_exist_in_shopify">
                                <div style="color: #007b5c;">
                                <button  class="Polaris-Button Polaris-Button--outline Polaris-Button--monochrome" type="button" @click="SyncCategoryProduct(collection.entity_id)"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Sync products</span></span></button>
                                </div>
                            </div>
                            <div v-else>
                                <input  @change="updateCheckItem()" type="checkbox"
                                        :checked="is_marked  || isCheckAllItems"
                                        :id="collection.entity_id"
                                        :value="collection.entity_id"
                                        class="mark_as_missing_checkbox"
                                        v-model="selectedCollectionsItem">
                                <label :for="collection.entity_id">Add To Store</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="Polaris-ButtonGroup" v-if="collection.is_exist_in_shopify">
<!--                                <div class="Polaris-ButtonGroup__Item">-->
<!--                                    <button class="Polaris-Button" type="button">-->
<!--                                        <span class="Polaris-Button__Content">-->
<!--                                            <span class="Polaris-Button__Text">-->
<!--                                                  <a class="dropdown-item" type="button" :href="collection.collection_edit_url" target="_blank"><i class="fas fa-edit mr-1"></i> Edit in Shopify</a>-->
<!--                                            </span>-->
<!--                                        </span>-->
<!--                                    </button>-->
<!--                                </div>-->
                                <div class="Polaris-ButtonGroup__Item">
                                    <a class="Polaris-Button edit-btn-icon" type="button" :href="collection.collection_edit_url" target="_blank">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">
                                               <span class="Polaris-Icon">
                                                 <span class="Polaris-VisuallyHidden"> </span>
                                                 <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="m13.877 3.123 3.001 3.002.5-.5a2.123 2.123 0 1 0-3.002-3.002l-.5.5zM15.5 7.5l-3.002-3.002-9.524 9.525L2 17.999l3.976-.974L15.5 7.5z"></path>
                                                 </svg>
                                              </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="Polaris-ButtonGroup__Item">
                                    <button class="Polaris-Button Polaris-Button--destructive delete-btn-icon" type="button" @click.prevent="deleteCollection(index,collection.shopify_id)">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">
                                             <span class="Polaris-Icon">
                                                 <span class="Polaris-VisuallyHidden"> </span>
                                                 <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                      <path d="M8 3.994C8 2.893 8.895 2 10 2s2 .893 2 1.994h4c.552 0 1 .446 1 .997a1 1 0 0 1-1 .997H4c-.552 0-1-.447-1-.997s.448-.997 1-.997h4zM5 14.508V8h2v6.508a.5.5 0 0 0 .5.498H9V8h2v7.006h1.5a.5.5 0 0 0 .5-.498V8h2v6.508A2.496 2.496 0 0 1 12.5 17h-5C6.12 17 5 15.884 5 14.508z"></path>
                                                 </svg>
                                             </span>
                                            </span>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div id="PolarisPortalsContainer"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
             <div class="Polaris-Card__Section">
        <custom-paginate v-if="collection_data.length > 0" data_key="category" :prev_page="prev_page" :next_page="next_page" is_tab="pick_order"></custom-paginate>
        </div>
        </div>
        </div>
        <div v-else>
            <div class="Polaris-Card"">
            <div class=" Polaris-Card__Section">
            <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" v-if="is_load">
            </bullet-list-loader>
            <record-not-found not_found_message="Could not find any Category Collection" v-else></record-not-found>
        </div>
        </div>
        </div>
    </div>
</template>

<script>
    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "./../../../helper";
    import instance from "./../../../axios";
    import { BulletListLoader } from 'vue-content-loader';
    import CustomPaginate from "./../../shopify/CustomPaginate";
    import RecordNotFound from "./../RecordNotFound";

    export default {
        name: "CategoryList",
        components: {
            BulletListLoader,CustomPaginate,RecordNotFound
        },
        props: [],
        data(){
            return {
                collection_data : [],
                default_product_image:"/images/defaultProduct.png",
                all_marked:false,
                is_marked:1,
                isCheckAllItems: false,
                items:[],
                item_id:[],
                CollectionsItems:[],
                selectedCollectionsItem:[],
                mark_as_missing_status:'',
                next_page: '',
                prev_page: '',
                next_page_missing_order: '',
                prev_page_missing_order: '',
                is_load : true,
                is_sync_action_of_products : false,
                is_collection_delete_with_products : false
            }
        },
        mounted() {
            //console.log('Category LIST Component mounted.');
            //this.getCollections(1);

        },
        methods: {
            async getCollections(page){

               // console.log("page",page);

                this.is_load = true;
                helper.startLoading();

                let endPoint = (typeof(page) == 'undefined' || page == 1) ? '/collections/get-collection' : page;

                instance.get(endPoint).then((res) => {

                  //  console.log("collections=res",res);
                    console.log("collections-res",res.data.data.collections);

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                       // console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {

                       // console.log("Resposne collections pageinate",res.data.data);

                        this.collection_data = res.data.data.collections;

                        this.collection_data.forEach((value, index) => {
                                this.CollectionsItems.push(value.entity_id);
                        });

                        if(this.isCheckAllItems==true) {
                            this.CollectionsItems.forEach((value, index) => {
                                if(!this.selectedCollectionsItem.includes(value)){
                                    this.selectedCollectionsItem.push(value);
                                }
                            });
                        }

                       // console.log("ResDATA", this.isCheckAllItems);


                        if(res.data.data.collections.length > 0) {
                            let pagination = res.data.data.pagination;
                            this.next_page = (pagination.nextPageUrl) ? pagination.nextPageUrl : '';
                            this.prev_page = (pagination.previousPageUrl) ? pagination.previousPageUrl : '';
                        }

                        // console.log("selectedCollectionsItem",this.selectedCollectionsItem);

                    }

                    // Unknown server error (catch all)
                    else {

                        //  console.log('Could not retrieve custom orders due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    helper.stopLoading();
                    this.is_load = false;

                });

                return true;
            },
            updateCheckItem(){

                if(this.selectedCollectionsItem.length == this.CollectionsItems.length){
                    this.isCheckAllItems = true;
                }else{
                    this.isCheckAllItems = false;
                }
            },
            checkAllItems(){

                this.isCheckAllItems = !this.isCheckAllItems;
                this.selectedCollectionsItem = [];

                if(this.isCheckAllItems==true) {
                    this.CollectionsItems.forEach((value, index) => {
                            this.selectedCollectionsItem.push(value);
                    });
                }
            },

            addCollections() {

               // console.log(this.selectedCollectionsItem);


                if(this.selectedCollectionsItem.length > 0) {

                    //START::confirmModel =============================================================================================
                    const okButton = Button.create(window.shopify_app_bridge, {label: "With Products"});
                    const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Without Products'});

                    const modalOptions = {
                        title:  'Add Collections',
                        message: 'Are you sure, you want to sync products for selected collections?',
                        footer: {
                            buttons: {
                                primary: okButton,
                                secondary: [cancelButton],
                            },
                        },
                    };

                    const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                    myModal.dispatch(Modal.Action.OPEN);

                    cancelButton.subscribe(Button.Action.CLICK, data => {
                        console.log("Without Products");
                        myModal.dispatch(Modal.Action.CLOSE);

                        this.addCollectionsAction(false);
                    });

                    okButton.subscribe(Button.Action.CLICK, data => {
                       console.log("With Products");
                        myModal.dispatch(Modal.Action.CLOSE);
                        this.addCollectionsAction(true);

                    });
                    //END::confirmModel =============================================================================================

                }else{
                    helper.errorToast("Please select some collection");
                }
                return true;
            },
            addCollectionsAction(is_sync_action_of_products) {
                helper.startLoading();

                console.log("===is_sync_action_of_products".is_sync_action_of_products);

                let params = {
                    'category_info': JSON.stringify(this.selectedCollectionsItem),
                    'is_sync_action_of_products' : is_sync_action_of_products
                };

                instance.post('/collections/add-collection', params).then((res) => {

                    //console.log("MarkAsMissing res",res);
                    helper.stopLoading();
                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0) {
                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success) {
                        //console.log("MarkAsMissing-data",res.data.data);
                        helper.successToast(res.data.message);
                    }
                    // Unknown server error (catch all)
                    else {
                        helper.errorToast("Could not add collection due to server error. Please try again or contact support for help");
                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    // this.selectedCollectionsItem.forEach((value, index) => {
                    //    // console.log("value",value);
                    //     $('#magento_category_list tr#'+value).remove();
                    // });

                    this.getCollections(1);
                });
                return true;
            },
            SyncCategoryProduct(category_id){
                //console.log("sync-category-product",category_id);

                  helper.startLoading();

                    let params = {
                        'category_id': category_id,
                    };

                    instance.post('/collections/sync-collection-product', params).then((res) => {

                        //console.log("MarkAsMissing res",res);
                        helper.stopLoading();
                        // Process errors, if any
                        if (res.data.errors && res.data.errors.length > 0) {
                           // console.log('Errors:\n' + res.data.errors.join("\n"));
                        }

                        // Success
                        else if (res.data.success) {
                            //console.log("MarkAsMissing-data",res.data.data);
                            helper.successToast(res.data.message);
                        }
                        // Unknown server error (catch all)
                        else {
                            helper.errorToast("Could sync products due to server error. Please try again or contact support for help");
                            //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                            return false;
                        }

                        // this.selectedCollectionsItem.forEach((value, index) => {
                        //    // console.log("value",value);
                        //     $('#magento_category_list tr#'+value).remove();
                        // });

                        this.getCollections(1);
                    });

                return true;
            },
            deleteCollection(index,collection_id) {
                let base = this;
                //START::confirmModel =============================================================================================
                const okButton = Button.create(window.shopify_app_bridge, {label: "With Products"});
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Without Products'});
                const modalOptions = {
                    title:  'Delete Collection ',
                    message: 'Are you sure, you want to Delete the collection?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };

                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);

                cancelButton.subscribe(Button.Action.CLICK, data => {
                    console.log("Only Delete Collection");
                    myModal.dispatch(Modal.Action.CLOSE);
                   // this.is_collection_delete_with_products = false;
                    this.deleteCollectionAction(collection_id,false);
                });

                okButton.subscribe(Button.Action.CLICK, data => {
                    console.log("Delete Collection With Products");
                    // console.log("PACK will update soon..");
                    myModal.dispatch(Modal.Action.CLOSE);
                    this.deleteCollectionAction(collection_id,true);
                    //this.is_collection_delete_with_products = true;
                });
                //END::confirmModel =============================================================================================

                return true;

            },
            deleteCollectionAction(collection_id,is_collection_delete_with_products) {
                helper.startLoading();

                console.log("is_collection_delete_with_products".is_collection_delete_with_products);

                let params = {
                    'collection_id': collection_id,
                    'is_collection_delete_with_products' : is_collection_delete_with_products
                };

                instance.post('/collections/delete-collection', params).then((res) => {

                    //console.log("MarkAsMissing res",res);
                    helper.stopLoading();
                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0) {
                       // console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success) {
                        //console.log("MarkAsMissing-data",res.data.data);


                        setTimeout(() => {
                            helper.successToast(res.data.message);
                        }, 1000);

                    }
                    // Unknown server error (catch all)
                    else {
                        setTimeout(() => {
                            helper.errorToast("Could not delete collection due to server error. Please try again or contact support for help");
                        }, 1000);

                        return false;
                    }

                    // this.selectedCollectionsItem.forEach((value, index) => {
                    //    // console.log("value",value);
                    //     $('#magento_category_list tr#'+value).remove();
                    // });

                    this.getCollections(1);
                });
                return true;
            },
            clearCollections() {
                this.selectedCollectionsItem = [];
                this.isCheckAllItems = false;
                this.CollectionsItems = [];
                this.is_marked = 0;
                this.getCollections(1);
            },
        },
        created() {
            let base = this;
            this.getCollections(1);
            base.$root.$on('get-category-data', function(page){
              //  console.log("get-category-data");
                base.getCollections(page);
            });

        }
    }
</script>

<style scoped>

</style>
