.res-more-filter{
    display:none !important;
}

.res-more-tabs{
    display:none !important;
}

.products-list-table tr td p{
    width: max-content;
}

#Polaris-Main {
    padding-top: 30px;
}

.pt-15{
    padding-top: 25px;
}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
    #Polaris-Main {
        padding-top: 30px;
    }
}

@media (max-width: 992px) {

     .res-more-filter{
         display:block !important;
     }
     .res-less-filter{
        display:none !important;
     }
    .Dashboard-main-class{
        padding: 15px !important;
    }
    #Polaris-Main {
        padding-top: 40px;
    }
}

@media (max-width: 768px) {

    .res-more-tabs{
        display:block !important;
    }

    .res-less-tabs{
        display: none !important;
    }

    .Dashboard-main-class{
        padding: 10px !important;
    }
    #Polaris-Main {
        padding-top: 55px;
    }
    .pt-15{
        padding-top: 0px;
    }
}

@media (max-width: 576px) {
    .Dashboard-main-class{
        padding: 15px !important;
    }
    .pt-15{
        padding-top: 0px;
    }
    .Polaris-Tabs__Title,.Polaris-Button__Content,p,.Polaris-TextField__Input,.order-list tr td,h1, h2, h3, h4, h5, h6,.Polaris-Heading,.Polaris-Select__Input, .Polaris-Select__Input option,.Polaris-Select__SelectedOption,.order-list th{
        font-size: 12px !important;
    }

    #more-tabs-section{
        top: 50.7969px;
        left: 80px;
    }

    .delete-btn-icon,.edit-btn-icon,.Polaris-ResourceItem__Container{
        padding: 5px !important;
    }

    .my-product-table .Polaris-ButtonGroup,#magento_category_list .Polaris-ButtonGroup{
        flex-wrap: inherit;
    }

    .Polaris-Thumbnail--sizeMedium{
        width: 5rem !important;
    }

}


