ul.nav li {
    /* float: right; */
    display: inline;
    margin: 10px;
}

ul.nav li a {
    color: #008060;
}

.navbar {
    padding: 20px;
    background: #edeeef;
}

footer {
    padding: 20px;
    background: #edeeef;
}

.copyright {
    color: #008060;
}

.Dashboard-main-class {
    padding: 25px;
}

.Polaris-Tabs__Wrapper {
    padding: 0 30px !important;
}