/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 2.5em 0;
    color: #212b37;
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;
}

.container {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 510px) {
    .container {
        width: 510px;
    }
}

.title {
    font-size: 1.5em;
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.subtitle {
    font-size: 0.8em;
    font-weight: 500;
    color: #64737f;
    line-height: 2em;
}

.error {
    line-height: 1em;
    padding: 0.5em;
    color: #b30000;
    margin-bottom: 2em;
}

input.marketing-input {
    width: 100%;
    height: 52px;
    padding: 0 15px;
    box-shadow: 0 0 0 1px #ddd;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    margin-bottom: 15px;
}

input.marketing-input:focus {
    color: #000;
    outline: 0;
    box-shadow: 0 0 0 2px #008060;
}

button.marketing-button {
    display: inline-block;
    width: 100%;
    padding: 1.0625em 1.875em;
    background-color: #008060;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    outline: none;
    border: 0 solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

button.marketing-button:hover {
    background: linear-gradient(to bottom, #008060, #008060);
    border-color: #008060;
}

button.marketing-button:focus {
    box-shadow: 0 0 0.1875em 0.1875em rgba(94,110,191,0.5);
    background-color: #223274;
    color: #fff;
}  */


/* Backup END =========================================================================================================================*/

.login-sec {
    padding: 0px 66px;
    position: relative;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}


/*START :: @Author:Satish */

.mockup-sec {
    padding: 130px 40px;
}

.mockup-sec p {
    font-size: 19px;
    font-weight: 700;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


/* START :: login-sec css */

body {
    font-family: 'Raleway';
}

.login-sec {
    background: #FFFFFF;
}

.logo-sec {
    padding-top: 100px;
    padding-bottom: 200px;
}

.logo-sec img {
    width: auto;
    height: auto;
}

.form-heading {}

.form-heading h1 {
    color: #3A3A3A;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 30px;
}

.form-control {
    border-radius: 5px;
}

.form_email {
    background: rgba(87, 199, 255, 0.07);
    border: 1px solid rgba(87, 199, 255, 0.12);
    color: #AFAFAF;
    margin-bottom: 15px;
}

.btn-login {
    background: #57C7FF;
    color: #fff;
    margin-bottom: 30px;
}

.form-footer p {
    color: #3A3A3A;
    font-weight: 500;
}

.form-footer p span {
    color: #57C7FF;
}

.form-footer h4 {}


/* END :: login-sec css */


/* START :: banner-sec css */

.banner-sec {
    background: rgba(87, 199, 255, 0.07);
}

.banner-heading {
    padding: 40px;
}

.banner-heading h1,
.banner-heading h4 {
    font-weight: bold;
    text-align: center;
}

section.video-sec {
    height: 400px;
    max-height: 400px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 30.25%;
    /* background-image:url(../images/Frame\ 3.png); */
    width: 750px;
    margin: 0 auto;
}

.videoWrapper section#media #container {
    display: none !important;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
}

.video-sec p {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 19px;
    bottom: -50px;
}

.footer-sec {
    padding: 60px 0;
}

.footer-link {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.footer-link li {
    display: inline;
}

.footer-link li a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 0 20px;
    /* identical to box height */
    color: #57C7FF;
}

.footer-logo-sec {
    padding-top: 40px;
}

@media(max-width:1300px) {
    .mockup-sec .center_img img {
        width: 420px;
    }
}

@media(max-width:1100px) {
    .videoWrapper {
        width: 520px;
    }
}

@media(max-width:768px) {
    .mockup-sec div {
        width: 100%;
    }
    .center_img {
        text-align: center;
    }
}

@media(max-width:576px) {
    .videoWrapper {
        width: 380px;
    }
    .login-sec {
        padding: 0 15px;
    }
    .banner-heading {
        padding: 15px;
    }
    .banner-heading h1 {
        font-weight: bold;
        font-size: 25px;
    }
}

@media (max-width:370px) {
    .videoWrapper {
        width: 280px !important;
    }
}

@media(max-width:991px) {
    .logo-sec {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}