<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ExampleComponent",
        components: {

        },
        props: [""],
        data(){
            return {
                name:"test"
                order_data : [],
            }
        },
        mounted() {
            console.log('Example Component mounted.')
        },
        methods: {
                getOrder() {
                    console.log("===getOrder Details methos call=====");
                }
            },
        created() {
            console.log('Example Component created.');
            this.getOrder();
        },
        updated() {
            console.log('Example Component updated.');
            this.getOrder();
        }
    }
</script>
