<template>


    <PCard :sectioned="false">
        <PCardHeader
            title="Demo"
            shortDescription="Test demo"
        />
        <PCardSection>
             Shopify Polaris Test All modules here.
        </PCardSection>
    </PCard>

</template>
</template>
<script>
    export default {
        mounted() {
            //console.log('TestDemo component mounted.')
        }
    }
</script>
<style scoped>

</style>
