<template>
<div>
    <PCard :sectioned="false">
        <PCardHeader
            :title="title"
            shortDescription="Sales Report"
        />
        <PCardSection>
            View a summary of your online store’s performance. {{title}}
        </PCardSection>
    </PCard>

</div>
</template>

<script>
    export default {
        props : ['title'],
        mounted() {
            console.log('Welcome Component mounted.')
        }
    }
</script>
