<template>
    <div>


<!------------- START :: Filter Sections ----------------------------------------------------------------------------->




        <!-- START ::  More Filter Model-->

        <div>
            <div v-if="showMoreFilterModel" id="PolarisPortalsContainer" class="res-more-filter">
                <div class="Polaris-Sheet__Container" data-polaris-layer="true" data-polaris-overlay="true">
                    <div>
                        <div role="dialog" aria-modal="true" tabindex="-1" class="Polaris-Sheet"
                             aria-label="More filters">
                            <div class="Polaris-Filters__FiltersContainer">
                                <div class="Polaris-Filters__FiltersContainerHeader"><h3
                                    class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">More filters</h3>
                                    <button @click="closeMoreFilterModel()" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                            aria-label="Cancel" type="button"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                        class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                        aria-hidden="true"><path
                                        d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                    </button>
                                </div>
                                <div
                                    class="Polaris-Filters__FiltersDesktopContainerContent Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling"
                                    data-polaris-scrollable="true">

 <!-- START :: filterByTypeCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterByTypeCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Brand</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterByTypeCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                              style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                            aria-invalid="false" v-model="filterByType"
                                                                            @change="handleFiltersByType($event)">
                                                                        <option value="0">Select Brand</option>
                                                                        <option v-for="type in productTypesData"
                                                                                :value="type">{{ type }}
                                                                        </option>
                                                                    </select>

                                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                        class="Polaris-Select__SelectedOption">  {{SelectedTypeOption}}</span><span
                                                                        class="Polaris-Select__Icon"><span
                                                                        class="Polaris-Icon"><span
                                                                        class="Polaris-VisuallyHidden"></span><svg
                                                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                        focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterByTypeClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterByTypeClearStatus }]"
                                                                    aria-label="Clear Product Type" type="button"
                                                                    :disabled="filterByTypeClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!-- END :: filterByTypeCollapsible --------------------------------------------------------------------->

 <!-- START :: filterByCollectionCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterByCollectionCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Categories</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterByCollectionCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                              style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                            aria-invalid="false" v-model="filterByCollection"
                                                                            @change="handleFiltersByCollection($event)">
                                                                        <option value="0">{{collections.length > 0 ? 'Select Categories:' : 'Categories not found'}}</option>
                                                                        <option v-for="collection in collections"
                                                                                :value="collection.id">{{ collection.title }}
                                                                        </option>
                                                                    </select>

                                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                        class="Polaris-Select__SelectedOption">  {{SelectedCollectionOption}}</span><span
                                                                        class="Polaris-Select__Icon"><span
                                                                        class="Polaris-Icon"><span
                                                                        class="Polaris-VisuallyHidden"></span><svg
                                                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                        focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                                    </div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterByCollectionClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterByCollectionClearStatus }]"
                                                                    aria-label="Clear Product Type" type="button"
                                                                    :disabled="filterByCollectionClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
  <!-- END :: filterByCollectionCollapsible --------------------------------------------------------------------->

  <!-- START :: filterBySortCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterBySortCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Sort by</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterBySortCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                              style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                <div class="Polaris-Select">
                                                                    <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="filterBySort" @change="handleFiltersBySort($event)">
                                                                        <option value="titleAlpha">Product title A–Z</option>
                                                                        <option value="titleReverseAlpha">Product title Z–A</option>
                                                                        <option value="oldestCreated">Created (oldest first)</option>
                                                                        <option value="newestCreated">Created (newest first)</option>
                                                                        <option value="typeAlpha">Product type A–Z</option>
                                                                        <option value="typeReverseAlpha">Product type Z–A</option>
                                                                    </select>
                                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__InlineLabel">Sort by</span><span class="Polaris-Select__SelectedOption">{{SelectedSortOption}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                            </svg>

                                                        </span></span></div>
                                                                    <div class="Polaris-Select__Backdrop"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterBySortClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterBySortClearStatus }]"
                                                                    aria-label="Clear Product Type" type="button"
                                                                    :disabled="filterBySortClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
   <!-- END :: filterBySortCollapsible --------------------------------------------------------------------->

                                </div>
                                <div class="Polaris-Filters__FiltersContainerFooter">
                                    <!--                                    <button class="Polaris-Button Polaris-Button&#45;&#45;disabled" type="button" disabled="">-->
                                    <!--                                        <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Clear all filters</span></span>-->
                                    <!--                                    </button>-->
                                    <button class="Polaris-Button" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                    </button>
                                    <div>
                                        <button @click="closeMoreFilterModel()" class="Polaris-Button Polaris-Button--primary" type="button"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Done</span></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Backdrop"></div>
            </div>
        </div>


        <!-- END ::  More Filter Model-->




        <!----------- END :: Filter Sections ------------------------------------------------------------------------------->



        <div  class="">

<!--            <div  v-show="show_total_search_result" class="Polaris-Card__Section">-->
<!--                <span class="Polaris-TextStyle&#45;&#45;variationSubdued">-->
<!--                    Showing {{total_search_product}} of {{total_product}} products.-->
<!--                </span>-->
<!--            </div>-->



                        <div class="Polaris-Card__Section" v-show="show_total_search_result">

                                    <p > Showing {{total_search_product}} of {{total_product}} products.</p>
                        </div>


        <div v-if="!is_load" class="order-list Polaris-Card">
            <div style="">
                <div class="">
                    <div class="Polaris-ResourceList__ResourceListWrapper">
                        <div class="Polaris-ResourceList__FiltersWrapper">
                            <div class="Polaris-Filters">
                                <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
                                    <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right">
                                        <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                <div class="Polaris-Labelled--hidden">
                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                        <div class="Polaris-Label">
                                                            <label id="PolarisTextField2Label" for="PolarisTextField2" class="Polaris-Label__Text">Filter
                                                                products</label>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Connected">
                                                        <div  class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                            <div class="Polaris-TextField">
                                                                <div class="Polaris-TextField__Prefix" id="PolarisTextField2Prefix">
                                                                <span class="Polaris-Filters__SearchIcon">
                                                                    <span class="Polaris-Icon">
                                                                        <span class="Polaris-VisuallyHidden"></span>
                                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                             focusable="false" aria-hidden="true">
                                    <path
                                        d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z">

                                    </path>

                                                                        </svg>
                                                                    </span>
                                                                </span>
                                                                </div>
                                                                <input id="PolarisTextField2" placeholder="Filter products"
                                                                       autocomplete="off"
                                                                       class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton"
                                                                       aria-labelledby="PolarisTextField2Label PolarisTextField2Prefix"
                                                                       aria-invalid="false"
                                                                       v-on:keyup.enter="handleFiltersBySearch($event)"
                                                                       v-model="filterBySearch">
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__RightContainer res-less-filter">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                                <div>
                                                    <div class="">
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="filterByType"
                                                                    @change="handleFiltersByType($event)">
                                                                <option value="0">Select Brand</option>
                                                                <option v-for="type in productTypesData"
                                                                        :value="type">{{ type }}
                                                                </option>
                                                            </select>

                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedTypeOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter"
                                                 v-if="collections && collections.length">
                                                <div>
                                                    <div class="">
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="filterByCollection"
                                                                    @change="handleFiltersByCollection($event)">
                                                                <option value="0">Collections</option>
                                                                <option v-for="collection in collections"
                                                                        :value="collection.id">{{ collection.title }}
                                                                </option>
                                                            </select>

                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedCollectionOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__MoreFiltersButtonContainer res-less-filter">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                <div>
                                                    <div class="Polaris-Labelled--hidden">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label"><label id="PolarisSelect14Label" for="PolarisSelect14" class="Polaris-Label__Text">Sort by</label></div>
                                                        </div>
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="filterBySort" @change="handleFiltersBySort($event)">
                                                                <option value="titleAlpha">Product title A–Z</option>
                                                                <option value="titleReverseAlpha">Product title Z–A</option>
                                                                <option value="oldestCreated">Created (oldest first)</option>
                                                                <option value="newestCreated">Created (newest first)</option>
                                                                <option value="typeAlpha">Product type A–Z</option>
                                                                <option value="typeReverseAlpha">Product type Z–A</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__InlineLabel">Sort by</span><span class="Polaris-Select__SelectedOption">{{SelectedSortOption}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                       <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                            </svg>

                                                        </span></span></div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                            <div>
                                                <button class="Polaris-Button Polaris-Button--fullWidth" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__Item res-more-filter">
                                            <div>
                                                <button @click="openMoreFilterModel()" class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">More filters</span></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div v-if="product_data.length > 0">
            <table class="w-100 my-product-table" id="magento_product_list">
                <thead>
                <tr v-if="product_data.length > 0">
                    <th class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Product Info</span></h3>
                    </th>
                    <th  class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Shipping Type</span></h3>
                    </th>
                    <th  class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Brand</span></h3>
                    </th>
                    <th  class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Reviews</span></h3>
                    </th>
                    <th  class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Supplier Link</span></h3>
                    </th>
<!--                    <th class="text-left">-->
<!--                        <h3><span class="Polaris-TextStyle&#45;&#45;variationStrong">Inventory Sync</span></h3>-->
<!--                    </th>-->
                    <th class="text-left">
                     <h3><span class="Polaris-TextStyle--variationStrong">Action</span></h3>
                    </th>

                </tr>
                <tr>
                    <th colspan="5"></th>
                    <th  class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--total" scope="row">
                        <div class="float-right">
                        <div class="Polaris-ButtonGroup">
                            <div class="Polaris-ButtonGroup__Item">
                                <button class="Polaris-Button Polaris-Button--destructive" type="button" @click.prevent="deleteProductAll()">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">
                                             <span class="Polaris-Icon">
                                                 <span class="Polaris-VisuallyHidden"> </span>
                                                 <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                      <path d="M8 3.994C8 2.893 8.895 2 10 2s2 .893 2 1.994h4c.552 0 1 .446 1 .997a1 1 0 0 1-1 .997H4c-.552 0-1-.447-1-.997s.448-.997 1-.997h4zM5 14.508V8h2v6.508a.5.5 0 0 0 .5.498H9V8h2v7.006h1.5a.5.5 0 0 0 .5-.498V8h2v6.508A2.496 2.496 0 0 1 12.5 17h-5C6.12 17 5 15.884 5 14.508z"></path>
                                                 </svg>
                                             </span>
                                            </span>
                                             All
                                            </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody v-if="product_data.length > 0"
                       v-for="(product, index) in product_data" :key="index"  :id="product.id" class="Polaris-ResourceItem">
                <tr>
                    <td>
                        <div class="d-flex align-center">

                            <div class="Polaris-ResourceItem__ItemWrapper">
                                <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                    <div class="Polaris-ResourceItem__Container" id="341">
                                        <div class="Polaris-ResourceItem__Owned">
                                            <div class="Polaris-ResourceItem__Media">
                                                <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                <img  :src="(product.image_url!==null ? product.image_url : default_product_image)"
                                                      :alt="product.title"
                                                      @error="imageLoadError"
                                                      class="img-fluid">

                                               </span>
                                            </div>
                                        </div>
                                        <div class="Polaris-ResourceItem__Content">
                                            <div class="d-flex align-center">
                                                <h2 class="ad-shortened-title"><a :href="product.product_url" data-toggle="tooltip" title="View Product in Store" target="_blank">{{ product.title }}</a></h2>

                                            </div>
                                            <div class="d-flex align-center">
                                                <p class="mb-1">Variants: <a href="#" @click.prevent="getProductsVariants(product.id,product.shopify_id,index)">{{ product.variants_count }}</a></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-center">
                            <p class="mb-1"><span class="shipping-type-color"></span> {{ product.shipping_type }}</p>
                        </div>
                    </td>
                     <td>
                        <div class="d-flex align-center">
                            <p class="mb-0">{{product.type}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-center">

                            <div v-if="product.review_count > 0">
                                <p class="mb-1"> <a href="#" @click.prevent="ShowReview(product.id)" data-toggle="modal" data-target="#review-modal">{{ product.review_count }}</a></p>
                            </div>

                            <div v-else>
                                <p class="mb-0">0</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-center">
                            <p class="mb-1">
                            <div class="d-flex align-center">
                                <form ref="form" :action="loginauth_api_url"  target="_blank" method="post">
                                    <input  name="product_url" :value="product.source_url"  type="hidden">
                                    <input  name="username"  :value="email"   type="hidden">
                                    <input  name="password" :value="password" type="hidden">
                                    <button class="Polaris-Button Polaris-Button--plain" type="submit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">View Dropship Item</span></span></button>
                                </form>
                            </div>
                           <i class="fas fa-external-link-alt"></i></p>
                        </div>
                    </td>

<!--                    <td>-->
<!--                        <div class="d-flex align-center">-->

<!--                            <input  type="checkbox"-->
<!--                                    @click="ChangeInventoryStatus(product.id,$event)"-->
<!--                                    :id="product.id"-->
<!--                                    :value="product.id"-->
<!--                                    class="mark_as_missing_checkbox"-->
<!--                                    :checked="product.is_auto_update_inventory==1"-->
<!--                                    >-->
<!--                            <label :for="product.id"></label>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div class="float-right">
<!--                        <a class="dropdown-item" type="button" :href="product.edit_url" target="_blank"><i class="fas fa-edit mr-1"></i> Edit in Shopify</a>-->
<!--                        <button class="dropdown-item text-danger" type="button" @click.prevent="deleteProduct(index,product.id)"><i class="fas fa-trash-alt mr-1"></i> Delete Product</button>-->


<!--                        <div><button class="Polaris-Button Polaris-Button&#45;&#45;destructive" type="button"  @click.prevent="deleteProduct(index,product.id)"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Delete Product</span></span></button>-->
<!--                            <div id="PolarisPortalsContainer"></div>-->
<!--                        </div>-->

                        <div>
                            <div class="Polaris-ButtonGroup">
                                <div class="Polaris-ButtonGroup__Item">
                                    <a class="Polaris-Button edit-btn-icon" type="button" :href="product.edit_url" target="_blank">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">
                                               <span class="Polaris-Icon">
                                                 <span class="Polaris-VisuallyHidden"> </span>
                                                 <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="m13.877 3.123 3.001 3.002.5-.5a2.123 2.123 0 1 0-3.002-3.002l-.5.5zM15.5 7.5l-3.002-3.002-9.524 9.525L2 17.999l3.976-.974L15.5 7.5z"></path>
                                                 </svg>
                                              </span>
                                            </span>
                                        </span>

                                    </a>
                                </div>
                                <div class="Polaris-ButtonGroup__Item">
                                    <button class="Polaris-Button Polaris-Button--destructive delete-btn-icon" type="button" @click.prevent="deleteProduct(index,product.id)">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">
                                             <span class="Polaris-Icon">
                                                 <span class="Polaris-VisuallyHidden"> </span>
                                                 <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                      <path d="M8 3.994C8 2.893 8.895 2 10 2s2 .893 2 1.994h4c.552 0 1 .446 1 .997a1 1 0 0 1-1 .997H4c-.552 0-1-.447-1-.997s.448-.997 1-.997h4zM5 14.508V8h2v6.508a.5.5 0 0 0 .5.498H9V8h2v7.006h1.5a.5.5 0 0 0 .5-.498V8h2v6.508A2.496 2.496 0 0 1 12.5 17h-5C6.12 17 5 15.884 5 14.508z"></path>
                                                 </svg>
                                             </span>
                                            </span>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div id="PolarisPortalsContainer"></div>
                        </div>
                        </div>
                    </td>
                </tr>
                <tr  :class="'detail collapse collapse' + index" aria-expanded="false">
                    <td colspan="11">
                        <div v-if="variantsLoaded || variants.length == 0" class="col-md-12">
                            <div class="card shadow-sm">
                                <div class="card-body" v-if="variantsLoaded">
                                    Loading variants, please wait...
                                </div>
                                <div class="card-body" v-else>
                                    No variants have been imported yet...
                                </div>
                            </div>
                        </div>

                        <div v-else class=""  id="printPage">
                            <div class="Polaris-Page__Content d-flex" id="">
                                <div class="Polaris-Card" style="padding: 10px;width: 100%;">
                                <table class="table table-striped w-100"  v-if="variants && variants.length">
                                    <thead>
                                    <tr>
                                        <th scope="col">Variant Info</th>
                                        <th scope="col">Inventory</th>
                                        <th scope="col">Source Price</th>
                                        <th scope="col">{{ product.source }} {{ product.locale }} Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(variant, vIndex) in variants">
                                        <td>
                                            <div class="Polaris-ResourceItem__ItemWrapper">
                                                <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                                    <div class="Polaris-ResourceItem__Container" id="341">
                                                        <div class="Polaris-ResourceItem__Owned">
                                                            <div class="Polaris-ResourceItem__Media">
                                                  <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                   <img  :src="(variant.image_url!==null ? variant.image_url : default_product_image)"
                                                      :alt="variant.title"
                                                      @error="imageLoadError"
                                                      class="img-fluid">

                                                    </span>
                                                 </div>
                                                        </div>
                                                        <div class="Polaris-ResourceItem__Content">
                                                            <div class="d-flex align-center">
                                                                <h2 class="ad-shortened-title"><b><a :href="variant.product_url" data-toggle="tooltip" title="View Product in Store" target="_blank">{{ variant.title }}</a></b></h2>

                                                            </div>
                                                            <div class="d-flex align-center">
                                                                <p class="mb-0">SKU: {{ variant.sku }}</p>
                                                            </div>

                                                            <div v-if="variant.attribute">
                                                                <div  class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                                                    <div class="Polaris-Stack__Item">
                                                                        <h2 class="Polaris-Heading">{{ variant.attribute.dimension ? variant.attribute.dimension : ''}}</h2>
                                                                    </div>
                                                                    <div class="Polaris-Stack__Item"><span class="Polaris-Badge">{{ variant.attribute.value ? variant.attribute.value : '' }}</span></div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>

                                        <td>
                                            <p class="mb-0">{{variant.inventory_quantity > 0 ? "Instock" : "Out of stock" }}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0">{{product.source_currency_symbol}} {{parseFloat(variant.source_price)}}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0">{{currency}} {{variant.shopify_price}}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr>
                            </div>
                        </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
             <div class="Polaris-Card__Section" v-if="product_data.length > 0">
            <custom-paginate  data_key="my-product" :prev_page="prev_page" :next_page="next_page"></custom-paginate>
            </div>
</div>
            <div v-else>
                <div class="Polaris-Card"">
                <div class=" Polaris-Card__Section">
                    <record-not-found not_found_message="Could not find any Product"></record-not-found>
                </div>
            </div>
        </div>
        </div>
        <div v-if="is_load">
            <div class="Polaris-Card"">
            <div class=" Polaris-Card__Section">
                <bullet-list-loader :width="300" :height="150" primaryColor="#dbdbdb" >
                </bullet-list-loader>
            </div>
        </div>
    </div>


        </div>



        <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="ad-review-title" aria-hidden="true">
            <div class="modal-dialog review-modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ad-review-title">Reviews</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ad-image-select-container" id="ad-review-modal-body">
                        <review ref="review_model"></review>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {Button, Modal, Toast,ContextualSaveBar} from "@shopify/app-bridge/actions";
    import helper from "./../../../helper";
    import instance from "./../../../axios";
    import { BulletListLoader } from 'vue-content-loader';
    import CustomPaginate from "./../../shopify/CustomPaginate";
    import RecordNotFound from "./../RecordNotFound";
    import Review from "./../Review";

    export default {
        name: "MyProductList",
        components: {
            BulletListLoader,CustomPaginate,RecordNotFound,Review
        },
        props: [],
        data(){
            return {
                show_review_modal: false,
                product_data : [],
                default_product_image:"/images/defaultProduct.png",
                next_page: '',
                prev_page: '',
                next_page_missing_order: '',
                prev_page_missing_order: '',
                is_load : true,
                variants : [],
                showEditProduct: -1,
                variantsLoaded: false,
                is_lodder: false,
                currency : '',
                collections :[],
                //Filter Variable :: Start
                productTypesData :[],
                filterByCollection : "0",
                filterBySearch: '',
                filterBySort : 'titleAlpha',
                filterByType : "0",
                SelectedTypeOption :"Select Brand",
                SelectedCollectionOption : "Collections",
                SelectedSortOption : "Product title A–Z",
                ClearFilterText : "No filters applied",
                ClearFilterStatus : true,
                selectedInventoryProductsItem : [],
                page : 1,
                email : null,
                password : null,
                total_product : 0,
                total_search_product : 0,
                show_total_search_result : false,
                loginauth_api_url : '',

                //More filter variables
                filterByTypeCollapsible:false,
                filterByCollectionCollapsible:false,
                filterBySortCollapsible:false,
                showMoreFilterModel:false,
                filterByTypeClearStatus:true,
                filterByCollectionClearStatus:true,
                filterBySortClearStatus:true,
                //More filter variables :: END

                //Filter Variable :: END

            }
        },
        mounted() {
          //  console.log('My-product LIST Component mounted.');
            this.getCredentials();
           // this.getProducts(1);
            this.getCollections();
            this.getProductTypes();
        },
        methods: {
            imageLoadError (event) {
              //  console.log('Image failed to load');
                event.target.src = this.default_product_image;
                helper.stopLoading();
            },
             getProducts(page){

                this.product_data = [];
                this.variants = [];
               // this.selectedInventoryProductsItem = [];

                //console.log("Get Preoduct method call");



                this.selectedInventoryProductsItem.forEach((value, index) => {
                   // console.log("VALUE ",value);
                    this.selectedInventoryProductsItem.splice(index, 1)
                });

                this.selectedInventoryProductsItem = [];
               // console.log("clear selected inventory product ",this.selectedInventoryProductsItem);

                let filterBySearch = "";
                if(this.filterBySearch.length >=3) {
                    filterBySearch = this.filterBySearch;
                }

                let filterData = {
                    "collection": this.filterByCollection,
                    "search": filterBySearch,
                    "filterBySort" : this.filterBySort,
                    "filterByType" : this.filterByType
                };

                let params = {
                    "filterData" : filterData
                };


                this.is_load = true;
                helper.startLoading();


                let endPoint = (typeof(page) == 'undefined' || page == 1) ? '/my-products/get-products' : page;

                instance.post(endPoint,params).then((res) => {
          // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                       // console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {

                        //console.log("Resposne product pageinate",res.data.data);

                        this.product_data = res.data.data.products;

                        this.total_search_product = res.data.data.total_search_product;
                        this.total_product = res.data.data.total_product;
                        this.show_total_search_result = res.data.data.show_total_search_result;

                        this.currency = res.data.currency;
                        let pagination = res.data.data.pagination;
                        this.next_page = (pagination.nextPageUrl) ?  pagination.nextPageUrl : '';
                        this.prev_page = (pagination.previousPageUrl) ?  pagination.previousPageUrl : '';

                        // console.log("orders-data",this.order_data);

                    }

                    // Unknown server error (catch all)
                    else {

                        //  console.log('Could not retrieve custom orders due to server error. Please try again or contact support for help.');
                        return false;
                    }

                    helper.stopLoading();
                    this.is_load = false;

                });

                return true;
            },
            getProductsVariants(product_id,shopify_id,index){

                if (this.showEditProduct > -1) {
                    $('.collapse' + this.showEditProduct).collapse('hide');
                }

                $('.collapse' + index).collapse('toggle');

                this.showEditProduct = index;

                let params = {
                    "product_id" : product_id,
                    "shopify_id" : shopify_id
                };

                this.variantsLoaded = true;

                instance.post('/my-products/get-products-variants',params).then((res) => {

                   // console.log("Variants::Res",res);

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                      //  console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                        this.variants = res.data.variants;
                        //console.log("variants", this.variants);
                        this.variantsLoaded = false;
                    }

                    // Unknown server error (catch all)
                    else {
                        //console.log('Could not retrieve products due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;
            },
            //END :: Auto-update Inventory :: Action===============================================================================
            //Start::Contextual Save Bar------------------------------------------------------------------------------
            startSaveBar(is_close){

                //   console.log("START::SaveBar",is_close);

                let base = this;

                const options = {

                    saveAction: {

                        disabled: false,

                        loading: false,

                    },

                    discardAction: {

                        disabled: false,

                        loading: false,

                        discardConfirmationModal: true,

                    },
                };
                const contextualSaveBar = ContextualSaveBar.create(window.shopify_app_bridge, options);
                contextualSaveBar.dispatch(ContextualSaveBar.Action.SHOW);


                const discardUnsubscribe = contextualSaveBar.subscribe(

                    ContextualSaveBar.Action.DISCARD,

                    function() {

                      //  console.log("Close::SaveBar");

// Hide the contextual save bar

                        contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
                        base.getProducts(1);
// Do something with the discard action

                    }
                );
                const saveUnsubscribe = contextualSaveBar.subscribe(

                    ContextualSaveBar.Action.SAVE,

                    function() {

                        //    console.log("SAVE::SaveBar");

// Optionally, show a loading spinner while the save action is in progress

                        contextualSaveBar.set({saveAction: {loading: true}});

                        base.updateInventoryStatus();

// Hide the contextual save bar

                        contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);

                    }
                );


                if(is_close){
                     // console.log("save-bar-close");
                    contextualSaveBar.dispatch(ContextualSaveBar.Action.HIDE);
                }


            },
            //End :: Contextual Save Bar------------------------------------------------------------------------------
            ChangeInventoryStatus(product_id,event){

                   // console.log("product_id",product_id);
                   // console.log("event",event.target.checked);
                   // console.log("selectedProductItem pre",this.selectedInventoryProductsItem);
                let inventory_status = event.target.checked;
                let is_auto_update_inventory = inventory_status ? 1 : 0;

                let index = this.selectedInventoryProductsItem.findIndex(a => a.product_id === product_id)
                if (index >= 0) {

                    this.selectedInventoryProductsItem.splice(index, 1)
                }

                let items_inventory = {
                    'is_auto_update_inventory': is_auto_update_inventory,
                    'id': product_id,
                };

                 this.selectedInventoryProductsItem.push(items_inventory);
                 this.startSaveBar(false);

            },
            updateInventoryStatus(){

                //console.log("selectedProductItem",this.selectedInventoryProductsItem);

                helper.startLoading();

               // console.log("updateInventoryStatus method call");

                let params = {
                    'products': this.selectedInventoryProductsItem,
                };

                instance.post('/my-products/change/auto-update-inventory/status',params).then((res) => {

                    //console.log("MarkAsMissing res",res);
                    helper.stopLoading();
                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                        //console.log("MarkAsMissing-data",res.data.data);
                        helper.successToast(res.data.message);
                    }

                    // Unknown server error (catch all)
                    else {

                        helper.errorToast("Could not update auto-update inventory due to server error. Please try again or contact support for help");

                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                        return false;
                    }
                    this.getProducts(1);
                });

                return true;
            },
 //END :: Auto-update Inventory :: Action===============================================================================

            deleteProduct(index,product_id) {
                let base = this;
     //START::confirmModel =============================================================================================
                const okButton = Button.create(window.shopify_app_bridge, {label: "Delete"});
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                const modalOptions = {
                    title:  'Delete Product ',
                    message: 'Are you sure, you want to Delete the product?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };

                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);

                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });

                okButton.subscribe(Button.Action.CLICK, data => {

                    // console.log("PACK will update soon..");

                    helper.startLoading();
                    myModal.dispatch(Modal.Action.CLOSE);
                    //
                    // let endPoint = '/orders/update/is-pack';
                    //
                    // instance.post(endPoint,params)
                    //     .then(res => {
                    //         // console.log("res",res);
                    //         helper.stopLoading();
                    //         helper.successToast(res.data.message);
                    //         //this.$router.push({ name: 'dashboard' });
                    //     })
                    //     .catch(err => {
                    //         helper.stopLoading();
                    //         helper.errorToast(res.data.message);
                    //         console.log(err);
                    //
                    //     });

                    instance.post('/my-products/delete-product', { 'product_id': product_id}).then((res) => {
                        helper.stopLoading();
                        // Process errors, if any
                        if (res.data.errors && res.data.errors.length > 0)
                        {
                            let errorMsg = "<p class=\"mb-0\">Could not delete product:</p><ul>\n";

                            for (let i = 0; i < res.data.errors.length; i++) {
                                errorMsg += "<li>" + res.data.errors[i] + "</li>\n";
                            }

                            errorMsg += "</ul>\n";

                           // console.log('Errors:\n' + res.data.errors.join("\n"));
                        }

                        // Success
                        else if (res.data.success)  {

                            setTimeout(() => {
                                helper.successToast(res.data.message);
                                base.getProducts(1);
                            }, 1000);
                            //setTimeout(() => { this.$refs.modal.close(); }, 1000);
                            this.product_data.splice(index, 1);
                        }

                        // Unknown server error (catch all)
                        else {
                            helper.errorToast('Could not delete product due to server error. Please try again or contact support for help.');
                          //  console.log('Could not delete product due to server error. Please try again or contact support for help.');
                            return false;
                        }
                      //  base.getProducts();
                    });

                    this.getProducts(1);

                });
     //END::confirmModel =============================================================================================

                return true;

            },

            deleteProductAll() {
                let base = this;
                //START::confirmModel =============================================================================================
                const okButton = Button.create(window.shopify_app_bridge, {label: "Delete"});
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                const modalOptions = {
                    title:  'Delete Products ',
                    message: 'Are you sure, you want to Delete the products?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };

                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);

                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });

                okButton.subscribe(Button.Action.CLICK, data => {

                    // console.log("PACK will update soon..");

                    helper.startLoading();
                    myModal.dispatch(Modal.Action.CLOSE);


                    instance.get('/my-products/delete-product-all').then((res) => {
                        helper.stopLoading();
                        // Process errors, if any
                        if (res.data.errors && res.data.errors.length > 0)
                        {
                            let errorMsg = "<p class=\"mb-0\">Could not delete product:</p><ul>\n";

                            for (let i = 0; i < res.data.errors.length; i++) {
                                errorMsg += "<li>" + res.data.errors[i] + "</li>\n";
                            }

                            errorMsg += "</ul>\n";

                           // console.log('Errors:\n' + res.data.errors.join("\n"));
                        }

                        // Success
                        else if (res.data.success)  {

                            setTimeout(() => {
                                helper.successToast(res.data.message);
                                base.getProducts(1);

                            }, 1000);
                            //setTimeout(() => { this.$refs.modal.close(); }, 1000);

                        }

                        // Unknown server error (catch all)
                        else {
                            helper.errorToast('Could not delete product due to server error. Please try again or contact support for help.');
                          //  console.log('Could not delete product due to server error. Please try again or contact support for help.');
                            return false;
                        }

                    });

                    //this.getProducts();

                });
                //END::confirmModel =============================================================================================

                return true;

            },

          ShowReview(id){
                this.show_review_modal = true;
                this.$refs.review_model.getReviews(id);
           },

           //Filter Logic START ==============================================================================================
            getCollections() {
                instance.post('/get-collections-category').then((res) => {

                    if(res.data.success)  {
                        this.collections = res.data.collections;
                    }
                    // Unknown server error (catch all)
                    else {
                        helper.errorToast('Could not retrieve custom collections due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;
            },
            getProductTypes() {
                instance.post('/products/get-products-type').then((res) => {

                    if(res.data.success)  {
                        this.productTypesData = res.data.product_types;
                    }
                    // Unknown server error (catch all)
                    else {
                        helper.errorToast('Could not retrieve product types due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;
            },
            handleFiltersBySearch: function() {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.getProducts(1);
            },
            handleFiltersBySort: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterBySortClearStatus = false;
                if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                   // console.log('id ',id );
                   // console.log('name ',name );

                    this.SelectedSortOption = name;
                }

                this.getProducts(1);
            },
            handleFiltersByCollection: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterByCollectionClearStatus = false;

                if(e.target.options.selectedIndex > -1) {


                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                   // console.log('name ',name );

                    this.SelectedCollectionOption = name;
                }


                this.getProducts(1);
            },
            handleFiltersByType: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterByTypeClearStatus = false;
                if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                   // console.log('id ',id );
                   // console.log('name ',name );

                    this.SelectedTypeOption = name;
                }


                this.getProducts(1);
            },
            onClearAllFilters: function() {

                    this.filterByCollection = "0";
                    this.filterBySearch = '';
                    this.filterBySort = 'titleAlpha';
                    this.filterByType = "0";
                    this.ClearFilterText = "No filters applied";

                    this.SelectedCollectionOption = "Collections";
                    this.SelectedSortOption = "Product title A–Z";
                    this.SelectedTypeOption = "Select Brand";

                    this.ClearFilterStatus = true;

                    this.filterByTypeClearStatus = true;
                    this.filterByCollectionClearStatus = true;
                    this.filterBySortClearStatus = true;

                     this.page = 1;

                    this.getProducts(1);

            },

            //More Filter function.

            openMoreFilterModel:function(){
                this.showMoreFilterModel = true;
            },
            closeMoreFilterModel:function(){
                this.showMoreFilterModel = false;
            },
            filterByTypeCollapsibleToggle:function(){
                this.filterByTypeCollapsible = !this.filterByTypeCollapsible;
            },

            filterByCollectionCollapsibleToggle:function(){
                this.filterByCollectionCollapsible = !this.filterByCollectionCollapsible;
            },

            filterBySortCollapsibleToggle:function(){
                this.filterBySortCollapsible = !this.filterBySortCollapsible;
            },

            filterByTypeClear:function(){
                this.filterByTypeClearStatus = true;
                this.filterByType = "0";
                this.SelectedTypeOption = "Select Brand";
                this.getProducts(1);
            },

            filterByCollectionClear:function(){
                this.filterByCollectionClearStatus = true;
                this.filterByCollection = '0';
                this.SelectedCollectionOption = "Categories";
                this.getProducts(1);
            },

            filterBySortClear:function(){
                this.filterBySortClearStatus = true;
                this.filterByType = "0";
                this.SelectedSortOption = "Product title A–Z";
                this.getProducts(1);
            },


            //More Filter function.

           //Filter Logic END ==============================================================================================
            getCredentials() {
                let self = this;
                //console.log("magento-credentials::call");
                instance.get('/get-magento-credentials')
                    .then(function (res) {
                       // console.log("credentials res", res);
                        if (res.data.success)  {

                          //  console.log("credentials user", res.data.user.email);
                            self.loginauth_api_url = res.data.loginauth_api_url;
                            if(res.data.user.email){
                                self.email =  res.data.user.email;

                              //  console.log("self.form.email",self.email);
                            }
                            if(res.data.user.password){
                                self.password = res.data.user.password;
                              //  console.log("self.form.password",self.password);
                            }

                        }
                    })
                    .catch(function (error) {
                        console.log("credentials-error", error);
                    });
            }
        },
        created() {
            let base = this;
            this.getProducts(1);



            base.$root.$on('get-my-product-data', function(page){
                base.page = page;
                base.getProducts(page);
            });

        }
    }
</script>

<style scoped>

</style>
