<template>
    <div>
       <router-view></router-view>
    </div>
</template>


<script>

    import Menu from './menu';
    export default {
        name: "App",
        components:{
            Menu
        },
        data(){
            return {

            }
        },
        methods:{

        },
        created(){

        },
        updated(){

        }
    }
</script>
