<template>
<div></div>
</template>
<script>
    export default{
        name:"menu",
        components:{

        },
        props:[],
        data(){
            return {
                name:"test",
            }
        },
        mounted(){
            console.log("menu mounted");
        },
        methods:{

        },
        created(){
            console.log("menu created");
        },
        updated(){
            console.log("menu updtaed");
        }
    }
</script>
