*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gray-color: rgb(56, 56, 56) ;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    font-family: 'poppins';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.mt{
    margin-top: 80px;
}
.mt-5{
    margin-top: 50px;
}
.jc{
    justify-content: space-between;
}
.ai{
    align-items: center;
}
h2{
    font-size: 35px;
    color: var(--gray-color);
}
.main-header, .main-sec{
    width: 100%;

}
.h-left, .h-right{
    width: 50%;
}
.h-left h1{
    font-size: 80px;
    padding-bottom: 30px;
    color: var(--gray-color);
    font-weight: 600;
}
.h-left ul li{
    font-size: 30px;
}
.h-left ul .box{
    width: 300px;
    height: 50px;
    background-color: red;
}
.h-left ul .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -----------------------section1--------------- */
.main-left{
    width: 50%;
}
.main-left .l-title{
    width: 30%;
}
.main-left .l-detail {
    font-size: 28px;
    width: 25%;
    color: var(--gray-color);
}

/* -------------------------item------------------ */
.main-item{
    width: 30%;
}
.main-item .border{
    border-top: 6px solid var(--gray-color);
    padding: 4px 0;
    border-bottom: 6px solid var(--gray-color);
    width: 100%;
}
/* -------------------------item------------------ */
.items{
    width: 100%;
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 20px 0;
}
.item-1{
    width: 30%;
}
.item-1 .icon{
    padding: 0 60px;
}
.item-1 .icon p{
    font-size: 20px;
    font-weight: 00;
}
.item-1 .icon .text{
    font-size: 28px;
    font-weight: 700;
}
.item-1 .i-img {
    width: 20%;
    height: 100px;
}
.item-1 .i-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.i-detail {
    font-size: 26px;
    margin-right: 200px;
}
/* -------------------------footer--------------------- */
.main-footer{
    text-align: center;
}
.main-footer p, .main-footer a{
    font-size: 24px;
    font-weight: 300;
}
.main-footer a{
    color: #000;
}
.social-icon{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.f-detail h2{
    color: #000;
    margin-top: 20px;
}
.f-detail p {
    font-size: 30px;
    color: var(--gray-color);
}
.icon-circle{
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    margin: 0 8px;
}
